[2017-02-09 20:56] saadkadhi opened #1 "Nessus Analyzer"
### Request Type
Analyzer Request

### Work Environment
Irrelevant

### Analyzer Description
Create an analyzer that takes as input an IP address or a FQDN and launches a scan using Nessus by leveraging its API. That will allow the analyst to quickly assess the attack surface of the asset, the services that it is exposing on the network, their vulnerabilities, banners and so on.

### Additional De

[2017-02-14 08:07] jeromeleonard opened #2 ""VirusTotal_Scan" analyzer is not checking for TLP"
Setting TLP:AMBER or up is not avoiding sending files to VT for scan.
there is no `max_tlp` in the Virustotal scan analyser configuration, and `tlp` is not checked in the main program

[2017-02-14 15:37] commiaI commented on #2
Hi !

Little error in the following file : https://github.com/CERT-BDF/Cortex-Analyzers/blob/master/analyzers/Fortiguard/Fortiguard_URLCategory.json

[2017-02-14 16:15] #2 closed

[2017-02-16 07:32] 3c7 opened #3 "Working on analyzers: CIRCL.lu PassiveSSL/DNS, CERT.AT PassiveDNS, MISP, IntelMQ, VMRay, Google Safebrowsing, URLQuery, yara"
Hello guys,

great project so far! As @MichaelDwucet already mentioned, I'm working on some analyzers right now. This is just fyi, will provide details for each analyzer later on.

[2017-02-16 12:03] 3c7 opened #4 "Cut python 2 dependency by replacing ioc-parser in cortexutils.analyzer"
### Request Type
Feature Request

### Content
Hello guys,

I just skimmed through analyzer.py to see, if it's possible to use the `Analyzer`-class with python 3. The problematic dependency in this case is `pdfminer` which is not in use, basically, because the parser is always called with `txt` and `json` parameters.

Would if be possible to replace it with an self-implemented function (more or les

[2017-02-16 15:15] JohnOmernik opened #5 "Analyzer Rate Limiting"
# Analyzer Rate Limiting
### Request Type
Feature Request

### Work Environment

NA

### Problem Description
It would be nice if we could have a way to rate limit outgoing requests in such a way that informs the user of high volumes, thus delayed response. Since we are hitting external systems, we don't want to be banned for abuse reasons. (Even when there are keys involved, some systems hold back

[2017-02-16 15:16] JohnOmernik opened #6 "Analyzer Caching"
# Analyzer Caching
### Request Type
Feature Request

### Work Environment

NA

### Problem Description
For analyzers, it would be nice to be able to identify a caching mechanism (say the Elastic Search cluster used for the hive) in such a way, that we could tune analyzers to check cache, and if there are hits within the specified timeline, that it returns the result from cache rather than requeryi

[2017-02-16 15:20] JohnOmernik opened #7 "API Keys to be submitted through Cortex for Analyzers"
# API Keys to be submitted through Cortex for Analyzers
### Request Type
Feature Request

### Work Environment

NA

### Problem Description
For some systems, having one key for all users doesn't match the terms of service of the endpoint APIs.  Thus, it would be nice to have users in say thehive have the ability to specify keys for specific endpoints (Say Passive DNS or Virustotal) in their accoun

[2017-02-16 17:45] jeromeleonard opened #8 "Normalize analyzer's JSON configuration file"
Make analyzer's configuration file similar with all global options (especially regarging TLP) even if they do not use them.

[2017-02-16 18:41] jeromeleonard opened #9 "VirusTotal GetReport can't get report for files from Cortex"
From Cortex, running VirusTotal_GetReport returns an error message :

[code]

[2017-02-17 03:04] hybiepoo opened #10 "Python < 2.7 crashes on version check"
# Cortexutils crashes on version check if python < 2.7

### Request Type

Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | RedHat 6.8
| OS version (client)       | Seven
| Cortex Analyzer Name      | cortexutils
| Cortex Analyzer Version   | 1.0
| Cortex Version            | 1.0.0, hash of the commit
| Brows

[2017-02-17 06:30] #8 closed

[2017-02-17 06:30] #9 closed

[2017-02-17 08:49] nadouani commented on #10
Hi @hybiepoo, thanks for this catch. We can fix that in cortexutils in fat, but I don't know if all the dependencies used by the analyzers will work with a python version < 2.7.

Did you update cortexutils locally to fix this version check? Did you try the analyzers with a Python < 2.7?

[2017-02-17 09:18] hybiepoo commented on #10
Yes the change fixed it for me. I'm not sure about all the analysers yet as I'm not sure we have keys for them. The geo lookup definitely worked. Will look more into it Monday. Unfortunately our base os is RHEL, but may have to request exemption and just run Ubuntu for MISP/TheHive.

Sent from my Cyanogen phone

On 17 Feb 2017 7:49 PM, Nabil Adouani <notifications@github.com> wrote:

Hi @hybiepoo<

[2017-02-18 12:44] saadkadhi commented on #5
I opened a [Cortex issue](https://github.com/CERT-BDF/Cortex/issues/6) to track this desirable feature. I am closing this one to avoid duplication.

[2017-02-18 12:44] #5 closed

[2017-02-18 12:49] saadkadhi opened #11 "CIRCL.lu PassiveDNS Analyzer"
### Request Type
Analyzer Request

### Work Environment
NA

### Analyzer Description
Create an analyzer to tap into [CIRCL.lu PassiveDNS](https://www.circl.lu/services/passive-dns/) service.

[2017-02-18 12:50] saadkadhi commented on #11
@3c7 has proposed to create it.

[2017-02-18 12:52] saadkadhi opened #12 "CIRCL.lu PassiveSSL Analyzer"
### Request Type
Analyzer Request

### Work Environment
NA

### Analyzer Description
Create an analyzer to tap into [CIRCL.lu PassiveSSL](https://www.circl.lu/services/passive-ssl/) service.

[2017-02-18 12:52] saadkadhi commented on #12
@3c7 proposed to provide this analyzer.

[2017-02-18 12:54] saadkadhi opened #13 "CERT.at PassiveDNS Analyzer"
### Request Type
Analyzer Request

### Work Environment
NA

### Analyzer Description
Create an analyzer to tap into CERT.at PassiveDNS service.

[2017-02-18 12:54] saadkadhi commented on #13
@3c7 proposed to provide this analyzer.

[2017-02-18 13:00] saadkadhi opened #14 "MISP Analyzer"
### Request Type
Analyzer Request

### Work Environment
NA

### Analyzer Description
Create an analyzer that can query one or several MISP instances.

The analyzer must be able to ingest observables, query [MISP](http://www.misp-project.org/) instances and provide the number of events where the observable can be found as a short report. The long analyzer report should contain useful metadata about

[2017-02-18 13:00] saadkadhi commented on #14
@3c7 proposed to provide this analyzer.

[2017-02-18 13:03] saadkadhi opened #15 "IntelMQ Analyzer"
### Request Type
Analyzer Request

### Work Environment
NA

### Analyzer Description
Create an analyzer that can query an [IntelMQ](https://github.com/certtools/intelmq) instance.

[2017-02-18 13:03] saadkadhi commented on #15
@3c7 proposed to provide this analyzer.

[2017-02-18 13:08] saadkadhi opened #16 "VMRay Analyzer"
### Request Type
Analyzer Request

### Work Environment
NA

### Analyzer Description
Create an analyzer than can submit files to [VMRay Analyzer](https://www.vmray.com/features/) and retrieve the results back.

The analyzer should provide short and long reports.

[2017-02-18 13:09] saadkadhi commented on #16
@3c7 proposed to implement this analyzer.

[2017-02-18 13:10] saadkadhi opened #17 "Google Safe Browsing Analyzer"
### Request Type
Analyzer Request

### Work Environment
NA

### Analyzer Description
Create an analyzer to query [Google Safe Browsing](https://developers.google.com/safe-browsing/).

The analyzer should provide short and long reports.

[2017-02-18 13:11] saadkadhi commented on #17
@3c7 proposed to create the analyzer.

[2017-02-18 13:13] saadkadhi opened #18 "URLQuery Analyzer"
### Request Type
Analyzer

### Work Environment
NA

### Analyzer Description
Create an analyzer which can submit a URL to [URLQuery](http://urlquery.net/) for profiling.

[2017-02-18 13:13] saadkadhi commented on #18
@3c7 offered to implement it.

[2017-02-18 13:19] saadkadhi opened #19 "YARA Analyzer"
### Request Type
Analyzer Request

### Work Environment
NA

### Analyzer Description
Create an analyzer which can instantiate [YARA](https://virustotal.github.io/yara/) and check a file against its rules.

The analyzer should be provide short and long reports.

### Complementary information
It should be possible to update the YARA rules from Cortex interface (edit/update).

[2017-02-18 13:20] saadkadhi commented on #19
@3c7 offered to implement this analyzer.

[2017-02-18 13:22] saadkadhi commented on #3
Thanks @3c7. That would be great. I have created Issues #11 #12 #13 #14 #15 #16 #17 #18 #19 to track the implementations of each analyzer instead of keeping a single issue for all of them.

I am going to go ahead and close this one.

[2017-02-18 13:22] #3 closed

[2017-02-20 13:40] #10 closed

[2017-02-23 04:34] saadkadhi commented on #1
@guillomovitch provided an analyzer a few days ago. See PR #20. @jeromeleonard can you please test it and provide feedback?

[2017-02-23 06:29] jeromeleonard opened #21 "OTX Query error when processing a file in Cortex"
### Problem Description
OTX Query can't get report for a file when running in Cortex. Get error "Hash is missing".

### Steps to Reproduce
From Cortex UI, choose OTXQuery analyzer, and run it against a file.

### Possible Solutions
Compute the file hash if not received in input.

[2017-02-23 06:42] #21 closed

[2017-02-23 14:46] jeromeleonard opened #22 "OTXQuery : improve error handling"
### Problem Description

### Steps to Reproduce

The same message is given for any error problem encountered by the program.

### Complementary information

[code]

[2017-03-01 20:01] benmeyer50 opened #23 "Cuckoo Sandbox Analyzer"
### Request Type
Analyzer Request

### Work Environment
N/A

### Problem Description
Create an analyzer that will submit files to a local cuckoo sandbox instance and retrieve the report that is generated

[2017-03-16 14:34] bullerdude opened #24 "FireEye AX Analyzer"
###Request Type
Analyzer Request

###Work Environment
N/A

###Problem Description
Create an analyzer that will submit files to a local FireEye AX sandbox instance and retrieve the report and indicators that are generated

[2017-03-16 14:34] bullerdude opened #25 "McAfee ATD Analyzer"
### Request Type
Analyzer Request

### Work Environment
N/A

### Problem Description
Create an analyzer that will submit files to a local McAfee ATD sandbox instance and retrieve the report and indicators that are generated

[2017-03-16 14:38] bullerdude opened #26 "Hybrid Analysis Analyzer"
### Request Type
Analyzer Request

### Work Environment
NA

Analyzer Description

Create an analyzer which can submit a File, File via URL, or URL to Hybrid Total (https://www.hybrid-analysis.com/) for profiling and report retrieval.  Analyser should support submission of hash or complete binary dependant on TLP attributes.

[2017-03-16 14:43] #22 closed

[2017-03-21 20:21] saadkadhi commented on #6
@JohnOmernik We are tracking this feature request through [Persistence and Report Caching](https://github.com/CERT-BDF/Cortex/issues/5) and we have slated it for Cortex 2. I am closing this one.

[2017-03-21 20:21] #6 closed

[2017-03-21 20:23] saadkadhi commented on #11
@3c7 any update on this one and the other few analyzers you would be contributing? Do you need any help from us?

[2017-03-21 20:25] saadkadhi commented on #24
Hi @bullerdude. Do you have access to such as a sandbox and if yes, would you be willing to contribute an analyzer for it should we give you all the documentation/instructions on how to do so?

[2017-03-21 20:26] saadkadhi commented on #25
Hi @bullerdude. As for FireEye AX, we do not have access to an instance hence if you or someone would be willing to create an analyzer for it or give us access to one... you may contact us on our support email address if you'd like to discuss this. Thanks.

[2017-03-21 20:28] saadkadhi opened #27 "Joe Sandbox Analyzer"
### Request Type
Analyzer Request

### Work Environment
N/A

### Problem Description
Create an analyzer that will submit files to a Joe Sandbox instance and retrieve the report that is generated.

[2017-03-22 11:55] 3c7 commented on #11
Hey @saadkadhi, currently working on google safebrowsing analyzer. Hope I'm able to publish the analyzers next week.
![Analyzers](https://cloud.githubusercontent.com/assets/2846609/24196476/3906be52-0efe-11e7-85d4-fc986cfc07fc.png)
(Malwr.com uses ReCaptcha for the login and searching for hashes is not allowed through the API, so that analyzer is not ready to use at the moment)

Updated cortexutil

[2017-03-22 13:10] nadouani commented on #11
Hi @3c7,

just for information, the artifacts part will be used in the upcoming versions of TheHive to allow user to import observables coming from an analyzer report.

`cortexutils` comps with a default implementation which is using ioc-parser to extract observables from the report, but you can implement your own `artifacts()` method (it will override the default method provided by `cortexutils.A

[2017-03-22 13:15] nadouani commented on #11
@3c7 could you please share the updates you made to cortexutils? we can include the in the next release ;)
If so, just create a pull request.

Thanks

[2017-03-22 13:26] 3c7 commented on #11
@nadouani Ah, thank you. My cortexutils-implementation is basically a clone of yours without the ioc-parser dependent artifacts function plus have the `raw` report as standard summary. ;)
I will review my code and create a pull request after that.

[2017-03-22 14:26] bullerdude commented on #24
Hi @saadkadhi, we are keen to develop this analyser. We will develop the code using a forked repository - https://github.com/UNIT777/Cortex-Analyzers.

[2017-03-22 14:27] bullerdude commented on #25
Hi @saadkadhi, we are keen to develop this analyser. We will develop the code using a forked repository - https://github.com/UNIT777/Cortex-Analyzers.

[2017-03-22 14:28] bullerdude opened #28 "WhoisXMLAPI Analyser"
### Request Type
Feature Request

### Description
A basic analyser for whois lookup using the WhoisXMLAPI service (https://www.whoisxmlapi.com/whois-api-doc.php)

[2017-03-22 14:29] bullerdude commented on #28
We are currently writing this simple analyser.

[2017-03-22 20:01] saadkadhi commented on #25
Thanks @bullerdude. Once your analyzer is ready, please submit a pull request so we integrate it to the analyzer list. Also, let us know if we can be of any help for coding the analyzer.

Once it is dubbed ready for production, we will work on TheHive's short and long report templates. For that, we will need some sample outputs from the analyzer. Otherwise, if you feel confortable with AngularJS,

[2017-03-22 20:02] saadkadhi commented on #24
Thanks @bullerdude. Once your analyzer is ready, please submit a pull request so we integrate it to the analyzer list. Also, let us know if we can be of any help for coding the analyzer.

Once it is dubbed ready for production, we will work on TheHive's short and long report templates. For that, we will need some sample outputs from the analyzer. Otherwise, if you feel confortable with AngularJS,

[2017-03-22 20:04] saadkadhi commented on #28
Thanks once more @bullerdude! We should be able to create the short and long report templates for TheHive once your analyzer is ready. Or feel free to contribute them as well if you are using TheHive and feel comfortable with AngularJS.

[2017-03-22 20:06] saadkadhi commented on #11
Thanks a lot @3c7. We are looking forward to your contributions. If you also use TheHive and feel comfortable with AngularJS, we'd appreciate it if you submit short and long report templates for your analyzer set. Otherwise we'll take care of those.

[2017-03-22 20:09] saadkadhi commented on #14
@3c7 If you are haven't started working on this analyzer, please drop it as @ant1 created one already and we are currently reviewing it. But if it's too late, that is just fine. We'll consider your pull request and compare both analyzers to add any useful features @ant1 might have missed. Sorry for any inconvenience.

[2017-03-22 20:37] saadkadhi opened #29 "FAME Analyzer"
### Request Type
Analyzer Request

### Work Environment
N/A

### Problem Description
Produce an analyzer to leverage [FAME](https://certsocietegenerale.github.io/fame/) using its [API](https://fame.readthedocs.io/en/latest/api.html).

[2017-03-23 05:58] 3c7 commented on #14
@saadkadhi It's already in use here. ;) I will upload all of my analyzers to our repo then we're able to choose what to include in this one. :)

[2017-03-23 05:59] 3c7 commented on #15
Delayed because of missing API at the moment. Heard it is possible to get information using HTTP requests, but currently there is no test system available, here.

[2017-03-23 06:01] 3c7 commented on #11
I've created templates for all of my analyzers, but maybe you can improve them. I'm not that familiar with Angular.

[2017-03-27 13:25] 3c7 opened #30 "Virusshare.com analyzer"
Just finished a Virusshare analyzer that searches through the Virusshare.com offline lists (md5 hashes of all samples available) obtainable through their site. Automatic downloading samples etc. is prohibited, so I won't implement that.

Will upload it with all the others.

[2017-03-27 13:33] 3c7 opened #31 "FireHOL blocklists analyzer"
Analyzer that checks if an ip can be found on https://iplists.firehol.org/.

Provided with the other analyzers.

[2017-03-29 13:27] nadouani opened #32 "Add author and url attributes to analyzer descriptior files"
### Request Type
Feature Request

### Problem Description
Based on what has been done by @3c7 on https://github.com/BSI-CERT-Bund/cortex-analyzers, the  JSON files that describe analyzers should include the following additional fields:
- author (Optional): the author of the analyzer
- url (Optional): the URL to the analyzer's source code
- licence

These details will be displayed in Cortex and The

[2017-03-31 15:09] jeromeleonard opened #33 "Use naming conventions for analyzer config properties"
Have a standard naming convention for some common config properties in analyzers and produce a documentation.

[2017-03-31 16:13] jeromeleonard opened #34 "Unify short template reports to use appropriate taxonomy"
### Problem Description

have a unified way display short report, its content and its color

### Possible Solutions

When possible, use a taxonomy that helps to show :
- Analyzer name or tool name or a short name that identify it (ex PT for PassiveTotal, VT for VirusTotal, JSB for JoeSandbox...)
- A service used, a criticity, a format, or whatever that identify what kind of result it is,
- the res

[2017-04-05 12:27] nadouani opened #35 "Make cortexutils compatible with python 2 and 3"
### Request Type
Enhancement

### Problem Description
As stated on the issue's title, the goal here is to make cortexutils compatible with python2 and python3 to make analyzer writers use the same cortexutils library

[2017-04-12 06:12] bullerdude opened #37 "Fortiguard API Changed"
### Request Type
Bug

### Problem Description
Fortiguard have change their online free API meaning that the analyser is not working. It looks like the new version provide less info so the webscraping code will need to be updated as well. The new URL is: http://www.fortiguard.com/webfilter?q=www.google.com.

[2017-04-13 10:04] 3c7 opened #38 "File_Info analyzer has problems examining pe files"
### Request Type
Bug

### Work Environment
TheHive v. 2.10.1
Cortex v. 1.0.1

### Problem Description
Report contains following error:
[code]

### Steps to Reproduce
1. Upload PE file
1. Start File_Info analyzer
1. Errors thrown

[2017-04-13 11:56] 3c7 commented on #38
Layer 8 problem. Clean pefile2 python lib installation helps.

[2017-04-13 11:56] #38 closed

[2017-04-18 12:06] nadouani commented on #4
Closing this issue, fix by [Automatic ioc extraction using RegEx](https://github.com/CERT-BDF/Cortex-Analyzers/pull/40)

[2017-04-18 12:06] #4 closed

[2017-04-21 04:21] saadkadhi commented on #37
Hi @bullerdude

Thank you for reporting this issue. @ecapuano, would you have time to look into this please?

[2017-04-21 08:44] #14 closed

[2017-04-21 08:44] #27 closed

[2017-04-21 15:03] nadouani opened #42 "Update the polling interval in VT scan analyzer"
### Request Type
Enhancement

### Problem Description
The VT Scan analyzer is asynchronous and need to poll VirusTotal to fetch the scan report of the  submitted file or URL.
Currently the polling interval is set to 10 seconds which might consume a lot of API call quota.
The idea is to update that interval to 60 seconds, and make it customizable.

[2017-04-21 15:39] #42 closed

[2017-04-24 05:46] ecapuano commented on #37
Sure thing. I had a feeling that would happen eventually, wish they'd offer a public API.

[2017-05-02 17:57] juanveloso opened #43 "GPF DNS Block List Analyzer"
### Request Type
Feature Request

I would like to know if worth to make an analyzer that gets IPs from GPF DNS Block List (https://www.gpf-comics.com/dnsbl/) to use with Cortex.

[2017-05-03 06:25] bullerdude opened #44 "Joe Sandbox Analyser Issue"
### Request Type
Question

### Work Environment
Cortex 1.0.2
Ubuntu 16.04

### Problem Description
We are attempting to setup the Joe Sandbox analyser to connect our Online Joe Sandbox cloud account. Can you please confirm that the analyser supports a Joe Sandbox Cloud instance?

We are seeing numerous JSON decoding / structure errors.

[2017-05-03 10:27] 3c7 commented on #23
Is someone working on this? (@garanews ?)

[2017-05-03 12:03] saadkadhi commented on #44
Hi @bullerdude, as [stated on the blog:](https://blog.thehive-project.org/2017/03/31/joe-sandbox-misp-search-and-report-improvements/)
```Joe Sandbox, by Joe Security LLC, is a very powerful malware analysis platform that has been around for many years and comes in two flavors: cloud and on-premises. The Joe Sandbox Cortex analyzer has been tested using an on-prem Joe Sandbox Ultimate version and

[2017-05-03 12:10] saadkadhi commented on #43
Hi @juanveloso. If that's something you need within your environment, please go ahead and make an analyzer for that purpose. But this seems to rather an edge case. As a consequence, we may not include it in the analyzer packages we publish. That shouldn't prevent you from posting it somewhere and we'll point users who request it to your site.

[2017-05-03 12:10] bullerdude commented on #44
Hi @saadkadhi, we have been looking into the error this afternoon and discovered that the error was actually the result of a missing field in the POST data when a file/url for analysis. It seems that Cloud version has a 'Terms and Conditions' field that must be set to '1' otherwise the analysis to fail. It took a while to find due to the way Cortex reports error messages.

[2017-05-03 12:16] saadkadhi commented on #44
Thanks for your troubleshooting @bullerdude. Would you be able to submit a PR to fix the missing POST data? We will review it to make sure it doesn't break things for on-prem users and release an updated analyzer.

Also, if you have any suggestions on how to improve Cortex error reporting, please submit an issue on the [Cortex repository](https://github.com/CERT-BDF/Cortex/issues/new).

[2017-05-03 12:22] juanveloso opened #45 "TOR Exit Nodes IPs Analyzer"
### Request Type
Feature Request

I would like to know if worth to make an analyzer that identify IPs from a list of Tor Exit Nodes (https://check.torproject.org/exit-addresses and/or http://torstatus.blutmagie.de/ip_list_exit.php/Tor_ip_list_EXIT.csv) to use with Cortex.

[2017-05-03 12:23] juanveloso commented on #43
Hello @saadkadhi.
Thank you for your feedback!
Hope to help in another way ;)

[2017-05-03 12:23] #43 closed

[2017-05-03 12:58] ant1 commented on #44
Please try https://github.com/CERT-BDF/Cortex-Analyzers/commit/3aab89ed4296ecefddb4a2ce6a5133d46e402276

[2017-05-03 15:20] bullerdude commented on #24
Hi @saadkadhi, we should have this analyser and basic report templates up in a pull request next week.

[2017-05-03 15:23] bullerdude opened #46 "Report template for JoeSandbox_Url_Analysis"
### Request Type
Question

### Question
Team, just wondering if a report template been created for JoeSandbox_Url_Analysis analyser?

[2017-05-04 15:35] garanews commented on #23
Hello,
I am working on this, I modified code from JSB analyzer but not finished yet, like missing templates and clean code and choose useful output.
I will try to post code tomorrow.

[2017-05-04 17:32] saadkadhi commented on #23
Thanks @garanews. We are looking forward to your contribution. Please do not hesitate to contact us on [Gitter](https://gitter.im/TheHive-Project/TheHive) should you need any help.

[2017-05-04 21:19] 3c7 commented on #23
Yesterday I set up a test cuckoo environment, so I could help, too.

[2017-05-05 06:22] garanews commented on #23
I am at this point:
https://github.com/garanews/Cortex-Analyzers/tree/master/analyzers/CuckooSandbox
![cuckooanalyzer](https://cloud.githubusercontent.com/assets/16938405/25735480/f0e0c880-316b-11e7-8fdc-2a1dde56f08b.PNG)

[2017-05-05 06:35] 3c7 commented on #23
@garanews Looks good! If you need help just write over gitter.

[2017-05-07 19:55] #11 closed

[2017-05-07 19:55] #12 closed

[2017-05-07 19:55] #17 closed

[2017-05-07 19:55] #19 closed

[2017-05-07 19:55] #30 closed

[2017-05-07 19:57] #1 closed

[2017-05-07 19:57] #32 closed

[2017-05-07 19:57] #34 closed

[2017-05-07 19:57] #35 closed

[2017-05-07 19:59] nadouani commented on #46
Hi @bullerdude, yes this analyzer has both short and long report templates that will be made available in 1.3.0 release

[2017-05-07 19:59] #46 closed

[2017-05-10 07:38] bullerdude commented on #28
PR submitted - https://github.com/CERT-BDF/Cortex-Analyzers/pull/47

[2017-05-10 07:39] bullerdude opened #48 "IRMA Analyser"
### Request Type
Feature Request

### Details
IRMA Analyzer for offline assessment of files against various virus scanners.
http://irma.quarkslab.com/

[2017-05-10 07:39] bullerdude commented on #48
PR submitted - https://github.com/CERT-BDF/Cortex-Analyzers/pull/47

[2017-05-10 13:03] mestrade commented on #48
Great to see an integration with IRMA ! Could you contact me about that ? mestrade at quarkslab dot com ?

[2017-05-20 19:49] saadkadhi commented on #37
HI @ecapuano

Any update on this front?

Thanks in advance!

[2017-05-20 23:56] ecapuano commented on #37
Working on it. Running tests to see if the scrape method is sustainable...Will post back very soon.

[2017-05-21 03:44] ecapuano commented on #37
Fixed -> https://github.com/CERT-BDF/Cortex-Analyzers/pull/51

[2017-05-22 12:33] #16 closed

[2017-05-22 12:45] #31 closed

[2017-05-22 12:46] jeromeleonard commented on #37
reviewed, validated.

[2017-05-22 12:46] #37 closed

[2017-05-24 09:31] #44 closed

[2017-05-24 09:45] saadkadhi commented on #44
@bullerdude The Joe Sandbox analyzer now supports the Cloud version. Check out hotfix/1.4.1.

[2017-05-29 11:51] ant1 opened #52 "Abuse_Finder analyzer analyzes "email" instead of "mail""
# Abuse_Finder analyzer analyzes "email" instead of "mail"

### Request Type
Bug

[2017-05-29 12:00] #52 closed

[2017-05-31 14:19] ST2Labs opened #53 "How Can I contribute with?"
### Contribute

### Problem Description
I have Analyzers for:

- https://www.threatcrowd.org/
- https://www.ipvoid.com / blacklist
- https://cymon.io

### Steps to Contribute
1. How?

Thanks !

[2017-06-01 10:36] albertogordillo opened #54 "Encoding problem in cortexutils"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Ubuntu
| OS version (client)       | Windows
| Cortex Version            | 1.1.2

### Problem Description
After upgrading from cortexutils 1.0 to 1.1.0 some analyzers stop working with observables that previously worked.

MaxMind GeoIP:
Error:

[2017-06-02 01:42] penguinspy opened #55 "CarbonBlack Analyzer Feature Request"
### Request Type
Feature Request

### Feature Summary
Would it be possible to develop an analyzer (or analyzers) for CarbonBlack (ER/EP) using the cbapi-python? https://github.com/carbonblack/cbapi-python

Thanks

[2017-06-12 19:17] jeromeleonard opened #56 "Review summary() and short reports for https://github.com/CERT-BDF/TheHive/issues/131"
Review all analyzers to permit TheHive to read all relevant info in summary() to display short reports on the Observables tab -- https://github.com/CERT-BDF/TheHive/issues/131

[2017-06-14 14:54] nadouani opened #57 "cortexutils fails to generate error reports when the analyzer has no config"
### Request Type
Bug

### Problem Description
The cortexutils library provide a `error` that formats the result that have to be returned when an analyzer fails. This method includes the analysis input and removes any sensitive data like passwords, api keys etc...

When the analyzer don't have a configuration object (example of MaxMind analyzer) cortexutils hits a `NoneType` error when trying to pl

[2017-06-14 14:57] #53 closed

[2017-06-14 14:58] #13 closed

[2017-06-14 15:38] #57 closed

[2017-06-14 15:40] #54 closed

[2017-06-15 14:23] jeromeleonard opened #59 "Inconsistance between long and short reports in MISP analyzer"
## Problem description

Number of records indicated in short report does not match results given in long report

## Possible Solutions

change
[code]
to
[code]

in the file  `misp_analyzer.py`, line 26

[2017-06-15 14:54] #59 closed

[2017-06-15 22:16] Popsiclestick opened #60 "Missing newlines in requirements.txt"
There were no newlines on the `GoogleSafebrowsing/requirements.txt` and `Virusshare/requirements.txt`

This caused values to concatenate and error out if you wanted to do `pip install $(cat /opt/Cortex-Analyzers/analyzers/*/requirements.txt | sort -u)` or some similar mass install of the required libraries.

Pull request coming shortly.

[2017-06-18 22:11] lctrcl opened #62 "Yara analyzer doesn't recognize 'sha1' field name from Yara-rules"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Ubuntu
| OS version (client)       | 16.04
| Cortex Analyzer Name      | Yara
| Cortex Analyzer Version   | 1.0
| Cortex Version            | 1.1.3-1

### Problem Description
On fresh install of TheHive + Cortex I've tried to use Yara analyzer

[2017-06-19 01:56] saadkadhi commented on #62
@3c7 can you please look into it? Thanks.

[2017-06-20 20:59] saadkadhi opened #64 "C1fApp Analyzer"
### Request Type
Analyzer

### Work Environment
N/A

### Description
Develop an analyzer to support [C1fApp](https://www.c1fapp.com/), a threat feed aggregation application.

[2017-06-20 21:00] saadkadhi commented on #64
An analyzer was submitted by @etz69. See PR #63.

[2017-06-21 11:55] jeromeleonard opened #65 "Joe Sandbox 19: New Information in Reports"
### Analyzer
New information appears in Joe Sandbox reports.

### Description
Analyzer must be updated to take into account these modifications and make it work with Joe Sandbox 19 and older versions.

[2017-06-21 14:06] #65 closed

[2017-06-26 16:03] jeromeleonard opened #66 "Build a taxonomy in cortexutils"
Add a build_taxomony() function in cortexutils and use it in all analyzer to build mini-reports.

[2017-06-28 14:39] Lost4Now commented on #60
I used the following command and it worked for me.  This might a solution in the future just in case the new lines are missed again.

find '/opt/Cortex-Analyzers/analyzers/' -name requirements.txt -exec pip install -r {} \;

[2017-06-28 14:42] nadouani commented on #60
As stated on the latest documentation at https://github.com/CERT-BDF/CortexDocs/blob/master/installation/analyzers.md you can use the following command

[code]

[2017-06-28 14:42] #60 closed

[2017-06-29 05:30] #66 closed

[2017-06-30 13:38] nadouani opened #68 "Add Analyzer for Yeti Platform"
### Request Type
Analyzer

### Description
This is a request for adding a Yeti analyzer to search for observables of types: "domain", "fqdn", "ip", "url", "hash"

[2017-07-03 10:21] 3c7 commented on #62
Didn't forgot this one. Will check it in the next days, lot's of things to do right now. This issue has nothing to do with the analyzer itself:

[code]
A possible solution could be compiling YARA from source and using the shared lib when installing the yara analyzer - I'll check that.

[2017-07-03 10:24] 3c7 commented on #62
The lib needs to get built with crypto support, so building yara itself from src is necessary: https://github.com/VirusTotal/yara-python/issues/27

[2017-07-03 13:40] 3c7 commented on #62
### Fresh Ubuntu 16.04.2
[code]
### Fresh Ubuntu 16.04.2 with libssl-dev
[code]

So, the solution is installing openssl dev libs before: `sudo apt install libssl-dev && sudo pip install -I yara-python` or `sudo apt install libssl-dev && sudo pip3 install -I yara-python`. The installation through pip will take care of the crypto build options, if `libssl-dev` is installed.

[2017-07-03 15:27] nadouani opened #69 "Fix the URL configuration of Hippocampe analyzer"
### Request Type
Bug

### Description
Hippocampe's analyzer requires currently a `URL` configuration. This URL must be of the following format:

[code]

The issue with this URL is that it should be simplier, and we should just ask for the `schemm://server:port`. The analyzer must then add the required path based on the API call to run.

[2017-07-04 09:03] #69 closed

[2017-07-04 10:10] ilyaglow opened #70 "AlienVault OTX API change"
Hello!

### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| Cortex Analyzer Name      | OTXQuery
| Cortex Analyzer Version   | 1.0
| Cortex Version            | 1.1.3

### Description
OTXQuery analyzer doesn't work

### Steps to Reproduce
Try to analyze URL, IP or whatever with OTXQuery analyzer

### Possible Solutions
Lo

[2017-07-04 11:57] #56 closed

[2017-07-04 12:27] nadouani opened #71 "Add missing check_tlp config to GoogleSafeBrowsing analyzer"
### Request Type
Bug

### Description
The JSON definition of Google Safe Browsing analyzer doesn't include a `check_tlp` and `max_tlp`configurations

[2017-07-04 18:29] 3c7 commented on #18
Well, totally forgot about this one. Asked URLQuery today if they provide access to their API (there seems to be some kind of public API, but it's not documented). If there's no API to use, I'd skip this analyzer because there are enough analyzers capable of getting information about urls and scraping the website for results is not that funny.

[2017-07-05 07:32] 3c7 commented on #18
URLQuery people are working on a new front- and backend with a new API.

[2017-07-05 09:16] ilyaglow commented on #70
Hmmm, today it's fine and everything works, will try to figure things out

[2017-07-05 09:16] #70 closed

[2017-07-05 11:42] #71 closed

[2017-07-06 09:53] lctrcl commented on #62
Thanks, just tested your proposed solution, it's working

[2017-07-06 09:53] #62 closed

[2017-07-06 10:43] 3c7 commented on #62
You're welcome. Glad it works.

[2017-07-10 08:57] jeromeleonard commented on #24
Hi @bullerdude, are you still working on this analyzer ?

[2017-07-10 09:02] bullerdude commented on #24
Yes - My team should have just updated for the latest Cortex – let me check and get back to you.
Will see if we can push it to Github this week. May also seek some assistance on improving the long report template.

From: Jerome Leonard <notifications@github.com>
Reply-To: CERT-BDF/Cortex-Analyzers <reply@reply.github.com>
Date: Monday, 10 July 2017 at 6:57 pm
To: CERT-BDF/Cortex-Analyzers <Cortex-

[2017-07-13 00:37] BrevilleBro opened #74 "Virustotal Scan returning incorrect taxonomy on URL scan"
# Virustotal Scan returning incorrect taxonomy on URL scan

### Request Type
Bug

### Work Environment
N/A

| Question              | Answer
|---------------------------|--------------------
| Cortex Analyzer Name      | VirusTotal
| Cortex Analyzer Version   | 1.5.0
| Cortex Version            | 11.3

### Description
VirusTotal URL Scan analyzer returns 0 for taxonomy result, despite there being

[2017-07-13 07:20] jeromeleonard commented on #74
Thx for reporting the issue. `git pull` to get the hotfix.

[2017-07-13 07:20] #74 closed

[2017-07-14 04:23] BrevilleBro commented on #24
The FireEye AX analyzer has now been pushed into our repo. It currently only supports file submissions, however, we are working  #on the URL submission and will push that when ready. #78

[2017-07-14 15:14] garanews opened #79 "ET Intelligence Analyzer"
### Request Type
Analyzer

### Work Environment
N/A

### Description
Produce an analyzer to leverage Emerging Threats using its [API](http://apidocs.emergingthreats.net/?python#introduction)

### Complementary information
The ET Intelligence API is organized around REST with JSON responses. Our API is designed to use HTTP response codes to indicate API success/errors. We support cross-origin resou

[2017-07-17 15:36] nadouani commented on #68
![yeti-long-report](https://user-images.githubusercontent.com/21827/28276178-676b504a-6b16-11e7-8770-ca38e9a47283.png)

[2017-07-17 15:36] #68 closed

[2017-07-25 15:30] jeromeleonard opened #82 "WOT analyzer"
### Request Type
Analyzer

### Description
Check a Domain against Web of Trust (WOT) a website reputation service.

### Solution
PR #77 submitted by @garanews

[2017-08-03 07:56] 0xswitch opened #85 "Bluecoat Analyzer"
### Request Type
 Feature

### Description
Adding a new analyzer for Cortex : **Bluecoat categorization**
PC #84

[2017-08-23 15:21] #23 closed

[2017-08-23 15:21] #82 closed

[2017-08-23 18:41] trolldbois opened #87 "MISPClient.__init__, ssl parameter default to True but later used as filename"
MISPClient.__init__, ssl parameter default to True but later used as filename

### Request Type
Bug

### Work Environment
Ubuntu 16
Cortex analyzer name: MISP
Cortex version: 1.1.3

### Description
https://github.com/CERT-BDF/Cortex-Analyzers/blob/4e6cd23e0b41bc5ef5b2b91fa4921cedb0a35773/analyzers/MISP/mispclient.py#L37

Current error using the MISP module:

### Steps to Reproduce
1. try to run a

[2017-08-25 08:22] nadouani commented on #87
Hi @3c7, any idea about this one?

Otherwise I can take a look on it.

Thanks

[2017-08-25 09:37] 3c7 commented on #87
Hi @nadouani, I'll fix it.

[2017-09-04 15:34] jeromeleonard opened #89 "Invalid Yeti templates folder name"
### Description
thehive-templates/Yeti should be thehive-templates/Yeti_1_0

### Possible Solutions
change thehive-templates/Yeti to thehive-templates/Yeti_1_0

[2017-09-04 15:37] #87 closed

[2017-09-04 15:38] #89 closed

[2017-09-06 12:56] srilumpa opened #90 "MISP_2_0 analyzer does not seems compatible with python 2.7"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| Cortex Analyzer Name      | MISP_2_0
| Cortex Analyzer Version   | 1.6.0
| Cortex Version            | 1.1.3

### Description
When trying to execute a job with the MISP_2_0 analyzer, the job fails due to the following error:
[code]

#

[2017-09-06 13:11] jeromeleonard commented on #90
Hi,

We have released a bug fix recently that fixed an issue related to that error. Could you please git pull the last version of analyzers and test if it still fails ?

Regards,

[2017-09-06 14:08] srilumpa commented on #90
Hi,

I have just checked and I have the same behaviour with the 1.6.2 version and with the current develop branch.

Best regards,

[2017-09-07 14:02] denied39 opened #92 "GoogleSafebrowsing Analyzer Fails with AttributeErrors"
GoogleSafebrowsing Analyzer Fails with AttributeErrors

### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Ubuntu 16.04.3
| OS version (client)       | 10
| Cortex Analyzer Name      | GoogleSafebrowsing
| Cortex Analyzer Version   | 2.0
| Cortex Version            | 1.1.3
| Browser type & ver

[2017-09-07 14:08] 3c7 commented on #92
Have you updated cortexutils? Because https://github.com/CERT-BDF/Cortex-Analyzers/blob/master/contrib/cortexutils/analyzer.py definitely implements `get_param`.

[2017-09-07 14:12] nadouani commented on #92
Yes this looks like an outdated version of `cortexutils` library.

[2017-09-07 14:44] denied39 commented on #92
Maybe I'm doing something wrong, but after I updated the cortexutils, and changed the safebrowsing_analyzer.py back to get_param and get_data, it's still failing with AttributeErrors.
![image](https://user-images.githubusercontent.com/1119294/30168901-c15de2a0-93b8-11e7-8501-88baac725dd8.png)
![image](https://user-images.githubusercontent.com/1119294/30168909-c645e286-93b8-11e7-99d8-7cb095746a65.p

[2017-09-07 15:07] nadouani commented on #92
@denied39 can you please try the following steps:

- open the python interpreter
- type `from cortexutils.analyzer import Analyzer`
- type `help(Analyzer)`
- check that `get_param` method exists

[2017-09-07 15:13] 3c7 commented on #92
Another error source might be a different python installation/version. Something like, you installed cortexutils for python3 but use python2 for executing the analyzers. That can happen if the `pip` command is linked to `python3 -mpip` but `python` executes the python 2.7 interpreter.

[2017-09-07 15:46] denied39 commented on #92
@nadouani the `get_param` does not exist (running on python v2.7.12)
@3c7 if I run python3 and then try the same commands, I do get the `get_param` method.

I ran pip2 to upgrade the cortexutils, and now it runs without error. I think this issue can be closed now. Thanks for everyone's help.

[2017-09-07 15:47] nadouani commented on #92
Cool, thanks to @3c7 too

[2017-09-07 15:47] #92 closed

[2017-09-10 19:28] jeromeleonard commented on #90
Hi srilumpa,

a new version 1.6.3 including the fix from @3c7 has been released. Could you please check if you still have the issue ?

Regards,

[2017-09-12 03:35] BrevilleBro opened #93 "VirusTotal URL Scan Bug"
# VirusTotal URL Scan Bug

### Request Type
Bug

### Work Environment
N/A

| Question              | Answer
|---------------------------|--------------------
| Cortex Analyzer Name      | VirusTotal
| Cortex Analyzer Version   | 3.0

### Description
When running a VT scan on a URL, if a report already exists, the analyzer will return the old report (not the most recent from the running scan)

###

[2017-09-13 15:38] srilumpa commented on #90
Hi @jeromeleonard,

I think there is is still an issue, but not linked to the python3 compatibility. I will check this more thoroughly and open an other issue about it.

Otherwise everything seems to work smoothly. Thank you !

Best regards,

[2017-09-13 15:38] #90 closed

[2017-09-13 16:03] srilumpa opened #94 "name parameter for the MISP analyzer does behave as expected"
### Request Type
(select Bug, Analyzer or Feature and **remove this line**)
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| Cortex Analyzer Name      | MISP_2_0
| Cortex Analyzer Version   | 1.6.3
| Cortex Version            | 1.1.3

### Description
1. When no `name` parameter is set in the Cortex

[2017-09-13 16:35] saadkadhi commented on #93
Thanks @BrevilleBro. @jeromeleonard will look at it shortly.

[2017-09-13 16:36] saadkadhi commented on #94
@3c7 Can you look at this one please with @jeromeleonard? Thanks.

[2017-09-13 17:53] 3c7 commented on #94
Sure, will take a look.

[2017-09-14 09:25] srilumpa opened #96 "TLP checks"
### Request Type
Feature

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| Cortex Analyzer Name      | *
| Cortex Analyzer Version   | 1.6.3
| Cortex Version            | 1.1.3

### Description
I have a generic question about TLP checks and limits per analyzers If this is not the place for that question

[2017-09-14 09:35] nadouani commented on #96
Hello, I'll start by answering the last question: You are already able to override the TLP definition for any analyzer. You should be even able to disable the TLP check if you want: just edit the Cortex configuration file `/etc/cortex/applicattion.conf` and set the following properties to the analyzer you want to override:

- `check_tlp`: set it to false to disable the check (not recommended)
- `m

[2017-09-20 15:14] srilumpa commented on #96
Sorry to reopen this but I wasn't able to override the `check_tlp` or `max_tlp` settings through the application.conf file.

I tried the following settings and each time restarted cortex and tried to analyze a tlp:AMBER artifact, but none of them worked.

Deactivating TLP checks:
[code]

With a `max_tlp` as an integer:
[code]

With a `max_tlp` as a string:
[code]

Am I wrong to assume that this co

[2017-09-20 15:17] nadouani commented on #96
Hello @srilumpa well, the JSON configuration files are not supposed to be updated. If customizing the analyzer's config doesn't work, we can investigate. I'll reopen the issue, and let you know.

[2017-09-21 11:42] SivaPrem opened #97 "Splunk Search Analyzer"
**Request Type**
Feature Request

Hello All,
Thanks for the good work team , and the HIVE comes very handy to use in our SOC , I saw your presentation recently on CORTEX and the possibility to have Splunk Search option in the analyzer

Would like to know in which version it was planned to be added

If available it would be very good

Merci ....................

[2017-10-03 13:50] ppanero opened #99 "IP type for CIRCL Passive DNS and others"
# IP type for CIRCL Passive DNS and others.

### Request Type
Feature

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | CentOS
| OS version (client)       | 7
| Cortex Analyzer Name      | CIRCLPassiveDNS
| Cortex Analyzer Version   | latest
| Cortex Version            | latest
| Browser type & version    | N/A

[2017-10-03 13:56] saadkadhi commented on #99
Hi @ppanero thanks. @jeromeleonard will contact you as soon as feasible.

[2017-10-09 23:22] BlueBlue98 commented on #97
+1

[2017-10-10 07:35] garanews commented on #94
I tried the fix and it is working:
![image](https://user-images.githubusercontent.com/16938405/31374392-12ee70d6-ad9e-11e7-9092-204c81fb24b0.png)

[2017-10-10 09:59] dfernquir opened #101 "Missing olefile in MsgParser requirements"
### Request Type
Bug

### Work Environment
N/A

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Ubuntu
| OS version (client)       | Ubuntu
| Cortex Analyzer Name      | MsgParser
| Cortex Analyzer Version   | 2.0 (Cortex analyzers - 7d4e0a5)
| Cortex Version            | 1.1.4

### Description
requirements.txt for MsgParser only con

[2017-10-11 14:12] mjrodriguez42 opened #102 "Request for a Cortex Analyzer for Recorded Future"
Request for a Cortex Analyzer for Recorded Future

### Request Type
Analyzer / Feature

### Description
I would like to request an analyzer for API access to Recorded Future for observable enrichment.

[2017-10-11 14:13] mjrodriguez42 commented on #102
Recorded Future will often provide a temp API key for testing purposes. If someone chooses to follow up on this request, I may be able to facilitate getting an API key to use.

[2017-10-11 14:49] saadkadhi commented on #96
@jeromeleonard any update on this front? /cc @nadouani

[2017-10-12 17:28] dlambrou opened #103 "C1fApp OSINT analyzer"
### Request Type
Analyzer

### Work Environment
N/A

### Description
Develop cortex analyzer for C1fApp. With C1fApp you can query all major OSINT via one provider. In addition C1fApp provides historical OSINT.

### Steps to Reproduce
N/A

### Possible Solutions
Develop an analyser utilising the C1fApp API

### Complementary information
www.c1fapp.com API demo key available after approval of accou

[2017-10-13 21:07] 5B9nrHBw9Q opened #104 "Robtex analyzer"
# Robtex analyzer

### Request Type
Analyzer / Feature

### Work Environment
N/A

### Description
Robtex provides a free API with IP Query and Passive DNS
See https://www.robtex.com/api/

[2017-10-14 11:11] 3c7 commented on #104
Created a first, simple analyzer for that (#105), can someone provide a template?

[2017-10-14 11:23] 3c7 commented on #102
Would like to help.

[2017-10-15 19:35] fbb6f493cb2c90cde960 opened #106 "Shodan Analyzer"
# Shodan Analyzer

### Request Type
Bug / Analyzer / Feature

### Work Environment
N/A

### Description
Shodan provides a REST API to search hosts
Documentation is available at https://developer.shodan.io/api
To use the API you need to have an API key, which you can get for free by creating a Shodan account.

[2017-10-16 23:27] 5B9nrHBw9Q opened #107 "Shadowserver sandboxapi Analyzer"
# Shadowserver sandboxapi Analyzer

### Request Type
Analyzer / Feature

### Description
The Sandbox API was designed to be simple to understand and easy to use. It's easy to implement in virtually any application and requires only a small amount of code. The values returned by the Sandbox API calls can come back as either text or as binary data.
http://www.shadowserver.org/wiki/pmwiki.php/Service

[2017-10-18 11:30] #94 closed

[2017-10-18 22:56] 5B9nrHBw9Q opened #109 "Metadefender analyzer"
# Metadefender analyzer

### Request Type
Analyzer / Feature

### Description
Metadefender API allows investigating hashes,  IP addresses and files.

https://onlinehelp.opswat.com/mdcloud/Retrieving_scan_reports_using_a_data_hash.html
https://onlinehelp.opswat.com/mdcloud/Scanning_IP.html
https://onlinehelp.opswat.com/mdcloud/Scanning_a_file_by_file_upload.html

[2017-10-19 04:58] saadkadhi commented on #102
Thanks @3c7 for offering a helping hand. @mjrodriguez42 can you please facilitate getting an API key for @3c7 and possibly for us as well please so we can test his analyzer once produced?

[2017-10-19 05:02] saadkadhi commented on #97
Hi @SivaPrem. We haven't gotten around to develop one yet and hopefully we'll be able to in the not-so-long term. We can't provide a date currently. We'll update the issue as soon as we can.

[2017-10-20 07:59] 3c7 opened #112 "SinkDB Analyzer"
[SinkDB](https://sinkdb.abuse.ch) is a private database of known sinkhole IPs provided by abuse.ch. I'll open a PR as soon as I finish developing and testing.

[2017-10-20 08:02] 3c7 commented on #107
I'd like to help, but I don't know exactly how soon I can provide it.

[2017-10-20 09:58] crackytsi opened #113 "Cuckoo Analyzer requires final slash"
### Request Type
Analyzer

### Work Environment
N/A

### Description
If Cuckoo runns on a different Port (e.g. 1234) the URL must be in the format:
http://cuckoo.tld:1234/
Note the slash at the end (!).
This is not what the user expects

### Steps to Reproduce
Configure Cuckoo API on a different port.

### Possible Solutions
Dynamically add the / in the Python script.

[2017-10-20 10:15] crackytsi opened #114 "Cuckoo analyzer sometimes failes"
### Request Type
Analyzer

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| OS version (client)       | 8.9
| Cortex Analyzer Name      | Cockoo Analyzer
| Cortex Analyzer Version   | 1.1.4-1
| Cortex Version            | 1.1.4-1
| Cuckoo Version       | 2

### Description
Analyzing some URLs sometimes f

[2017-10-20 10:59] saadkadhi commented on #113
@garanews can you please take charge of this enhancement request when you have time?

[2017-10-20 12:32] 3c7 opened #115 "Virusshare short report enhancements if SHA1 hash passed"
@garanews reported that the behavior of the virusshare analyzer is not correct, if a sha1 hash is passed to the analyzer. It should display the short report as info or smth like that, but not as malicious-tag.

I'll take a look at it, if I find some time in the next days.

[2017-10-20 13:26] garanews commented on #115
It seems I had something wrong in the code that was generating this:
![image](https://user-images.githubusercontent.com/16938405/31822959-cd4f4c48-b5aa-11e7-90fb-847de95d1235.png)

With last version of your code is ok:
![image](https://user-images.githubusercontent.com/16938405/31823038-05d6253c-b5ab-11e7-9465-e75b442fd529.png)

Sorry for that,

[2017-10-20 13:32] 3c7 commented on #115
Oh, okay. Glad it works.

[2017-10-20 13:32] #115 closed

[2017-10-22 09:41] lctrcl opened #116 "Manalyze analyzer"
### Request Type
Analyzer

### Work Environment
N/A

### Description
Create analyzer for [Manalyze](https://github.com/JusticeRage/Manalyze), static analyzer for PE executables.

I created initial analyzer for Manalyze, using this quite a lot for quick malware triage. Feel free to try it out, it has very basic report template because my angular and html skills are not good. Requires docker.

[http

[2017-10-23 15:50] typonino opened #117 "Proofpoint Forensics Lookup"
### Request Type
Analyzer

### Description
Hello,
I have created an analyzer for Proofpoint Forensics lookup. Proofpoint API is available to proofpoint customers and allows for searching url, file, or hash.
This cortex analyzer allows to search for known ioc against proofpoint forensics.

### Possible Solutions
proofpoint forensics description: https://help.proofpoint.com/Threat_Insight_Dashboard/

[2017-10-25 10:56] saadkadhi commented on #106
@sebdraven is working on this one.

[2017-10-25 11:19] saadkadhi commented on #113
@garanews when ready can you submit a PR please against develop? Thanks.

[2017-10-25 11:21] saadkadhi commented on #114
@garanews can you look at this one as well please? Thanks ;-)

[2017-10-25 11:22] saadkadhi commented on #116
@lctrcl wouldn't it be possible to remove the docker requirement?

[2017-10-25 11:28] saadkadhi commented on #117
Hi @typonino. Thank you for this new contribution. Can you please submit a PR for the analyzer (or analyzers/analyzer flavors if you separated file analysis from URL/hash) against develop so we can review it and add it to the repo?

[2017-10-25 11:32] saadkadhi commented on #93
@jeromeleonard any update on this front? Thanks.

[2017-10-25 11:32] saadkadhi commented on #99
@jeromeleonard any update on this front? Thanks.

[2017-10-25 14:08] lctrcl commented on #116
@saadkadhi I certainly can, and it would require compile Manalyze from sources. But I also would like to keep docker option, as it's quite easy to deploy without managing additional requirements (except for having docker).
Should I create this as separate analyzers?

[2017-10-25 14:19] saadkadhi commented on #116
Thanks for your reply. Stay put. We'll look at the code and let you know if we can stay like this or not? At any rate, thanks for your contribution!

[2017-10-26 05:37] #26 closed

[2017-10-26 07:39] typonino commented on #117
hello Saad,
I have added new pull Request "Proofpoint Threat Insight Lookup #120" based on dev branch.
Let me know if it's ok like this.

Regards,

[2017-10-26 08:33] nadouani commented on #117
Hello @typonino I think that you deleted the PR.

[2017-10-26 09:15] typonino commented on #117
Hello @nadouani ,

i'm newbie in github. I have tried to create different branch for different analyzers.
I have removed and create new branch for each analyzer.
For this one, you can find the information [here](https://github.com/typonino/Cortex-Analyzers/pull/1)

When creating pull request, it is sent to my repo not yours.  I think i have still missed a step again :)
If you can help me on this,

[2017-10-26 09:25] nadouani commented on #117
OK, you need to submit the PR again on the main Cortex-Analyzers repository.

Note that we are notified for any submitted PR, or comment on any issue, so we are aware of the cool stuff people contribute ;)

Thanks

[2017-10-26 09:25] typonino opened #121 "PayloadSecurity Sandbox"
# PayloadSecurity Sandbox

### Request Type

Analyzer

### Description
Payload Security is a private instance of Hybrid-Analysis based on Payload Security vxstream.
This is an analyzer for submitting file and url for sandbox analysis.

### Steps to Reproduce
tested on private instance (not private cloud):

- File Ok

- Url OK

[2017-10-26 09:26] typonino commented on #121
you can find modification [here](https://github.com/typonino/Cortex-Analyzers/pull/2)

[2017-10-26 09:28] nadouani commented on #117
you can submit the PR like this https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2017-10-26 09:42] typonino commented on #121
Associated pull request #122

[2017-10-26 09:46] typonino commented on #117
I got it ! thank you :)

associated pull request is #123

[2017-10-26 16:15] #93 closed

[2017-10-26 16:22] #101 closed

[2017-10-26 16:32] jeromeleonard commented on #99
Hi @ppanero,

We would be pleased to review your PR to improve the analyzer. If you do so, could you please base the PR on the develop branch ?

Thx.

J.

[2017-10-26 23:07] BrevilleBro commented on #97
Hi,

We have developed a Splunk analyser. We will need to do some cleanup for public release, but hopefully will be able to release it in the coming week or two.

[2017-10-27 07:38] 3c7 opened #124 "MISP Warninglists analyzer"
Currently [WIP](https://github.com/BSI-CERT-Bund/misp-warninglists-analyzer), the analyzer checks observables against the [misp-warninglists](https://github.com/MISP/misp-warninglists) to find potential false positives.
Creating PR after testing.

[2017-10-27 09:15] SivaPrem commented on #97
@saadkadhi : Thank you very much , U guys rock , Missed Hack.lu / Misp Summit

[2017-10-27 09:16] SivaPrem commented on #97
@BrevilleBro : Wow , thats amazing , Looking forward to it

[2017-10-27 10:27] saadkadhi commented on #124
Excellent @3c7. You read my mind as I had a similar idea upon my very fruitful discussions with @iglocska and @adulau.

[2017-10-27 10:31] saadkadhi commented on #97
Excellent @BrevilleBro. I'll change the label to `in progress`.

[2017-10-27 10:35] saadkadhi commented on #25
Hi @bullerdude. Any update on this front? Thanks a lot.

[2017-10-27 10:36] saadkadhi commented on #18
@3c7 any update on this front?

[2017-10-27 10:37] saadkadhi commented on #15
OK @3c7 let us know if there's any progress. Thx!

[2017-10-27 10:40] 3c7 commented on #124
🔮

[2017-10-27 10:42] 3c7 commented on #18
Contacted the URLQuery team.

[2017-10-27 11:56] #33 closed

[2017-10-31 18:17] saadkadhi commented on #45
@sebdraven has kindly offered to develop this analyzer. TIA.

[2017-11-01 12:40] ilyaglow opened #126 "PhishTank analyzer doesn't work"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| Cortex Analyzer Name      | PhishTank
| Cortex Analyzer Version   | 2.0
| Cortex Version            | latest

### Description
PhishTank analyzer fails because `http://checkurl.phishtank.com` is redirected to main website. Also it seems that [summary function call](https:

[2017-11-01 20:17] saadkadhi commented on #126
Hi @ilyaglow. That's a good catch. @ecapuano were you aware that PhishTank changed their API URL to HTTPS instead of HTTP while not indicating so in [https://www.phishtank.com/api_info.php](https://www.phishtank.com/api_info.php)?

@ilyaglow can you rebase your PR on develop instead of master please? Also, the `summary()` function is not working because of a var eval error (boolean instead of a st

[2017-11-01 21:05] ilyaglow commented on #126
Hey @saadkadhi. Sure, hope you don't mind that I sent a new PR.

[2017-11-02 00:05] ecapuano commented on #126
Gotta love undocumented API changes! Nice catch @ilyaglow

[2017-11-02 09:52] garanews commented on #113
I PRed already against master couple of weeks ago :)

[2017-11-02 09:56] nadouani commented on #113
I don't think there is a PR here @garanews, you fixed that on https://github.com/LDO-CERT/Cortex-Analyzers/commit/9d65fb9993e2a052ef328c9508a1844f0ff8e49f but didn't submit a PR to this repo

[2017-11-02 10:18] garanews commented on #113
You right! Now should be there:
https://github.com/CERT-BDF/Cortex-Analyzers/pull/100

[2017-11-02 13:02] stdio-h opened #130 "VirusTotal ignores Environment Proxies"
### Request Type
Bug

### Work Environment
| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian 9
| OS version (client)       | N/A
| Cortex Analyzer Name      | VirusTotal_GetReport
| Cortex Analyzer Version   | 3.0
| Cortex Version            | 1.1.4
| Browser type & version    | N/A

### Description
virustotal_api.py ignores any

[2017-11-03 09:32] 3c7 commented on #102
Contacted RF support in order to get a trial API key.

[2017-11-03 16:07] saadkadhi commented on #126
Closed by PR #128

[2017-11-03 16:07] #126 closed

[2017-11-03 20:40] #113 closed

[2017-11-03 20:48] #79 closed

[2017-11-03 21:35] jeromeleonard commented on #96
Hi @srilumpa,

if you want to change `max_tlp` and `check_tlp` it is better to do it in json configuration files of each analyzers you want to customize. The configuration given as input to an analyzer is considered in this order :
1. the gobal configuration found in cortex `application.conf` file (typically proxy settings)
2. the baseConfig of an analyzer found in cortex `application.conf` file
3

[2017-11-04 03:45] Vince147 commented on #18
Check Urlscan.io, they got a public API and it very easy to use.

[2017-11-04 04:10] Vince147 commented on #25
Hey @saadkadhi, i will check up on this. I was looking to build a tool to poke ATD and I discovered Cortex, which is what i wanted. I plan to do this this during this month. By that time, if @bullerduke have something, let us know.

[2017-11-04 04:48] Vince147 commented on #18
I will create an issue for creating urlscan analyser.

[2017-11-04 04:54] Vince147 opened #131 "Urlscan Analyzer"
### Request Type
Analyzer

### Work Environment
N/A

### Description
Create an analyzer using Urlscan.io api. Urlscan is another service similar to Urlquery to scan URL to search urls, files, etc.

[2017-11-04 04:56] Vince147 commented on #131
I will check with the owner of that service if that ok.

[2017-11-04 07:13] bullerdude commented on #25
Yes we have the integration working; it required a custom piece of middleware to work around session management issues in the ATD API.

Will try to get it uploaded during the week.

________________________________
From: nacc3ss <notifications@github.com>
Sent: Saturday, November 4, 2017 3:10:18 PM
To: CERT-BDF/Cortex-Analyzers
Cc: Matthew Rankin; Mention
Subject: Re: [CERT-BDF/Cortex-Analyzers] M

[2017-11-05 20:34] Vince147 commented on #131
Email was sent. Waiting for Urlscan answer.

[2017-11-06 09:05] srilumpa commented on #96
Ok, thank you for your clarifications @jeromeleonard.

[2017-11-06 10:27] #106 closed

[2017-11-09 03:36] Vince147 commented on #131
Still no answer.

[2017-11-09 06:53] 3c7 opened #135 "Censys.io analyzer"
## About Censys
Censys is a search engine that enables researchers to ask questions about the hosts and networks that compose the Internet. Censys collects data on hosts and websites through daily ZMap and ZGrab scans of the IPv4 address space, in turn maintaining a database of how hosts and websites are configured. Researchers can interact with this data through a search interface, report builder

[2017-11-13 05:13] BrevilleBro commented on #97
Hi,

Just keeping everyone updated. We are currently preparing the analyzer for release (next day or two). We will strip it back to a 'bare-bones' Splunk Search for compatibility, however, if anyone wants an example/release of a more 'customised' Splunk Search, please let me know.

[2017-11-13 09:15] jeromeleonard opened #136 "Msg_Parser analyser show for all files"
issue [#184](https://github.com/CERT-BDF/TheHive/issues/184) from @bullerdude  in TheHive (https://github.com/CERT-BDF/TheHive/issues/184)

# Request Type

Bug

# Problem Description

The Msg_Parser is show as a possible for analyser for all file observables despite only working for email messages.

# Possible Solutions

Perhaps create a new 'Email' observable type for uploading emails, which woul

[2017-11-14 09:25] SivaPrem commented on #97
@BrevilleBro : Perfect , thats good news !!!!! search on proxy logs will be amazing to have it !!!!!

[2017-11-14 19:12] treed593 opened #137 "Hippocampe Analyzer Fails"
### Request Type
Bug

### Work Environment
Production

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Ubuntu
| OS version (client)       | Mac osX
| Cortex Analyzer Name      | Hipposcore_2_0
| Cortex Analyzer Version   | 2.0
| Cortex Version            | 1.1.4
| Browser type & version    | Google Chrome 62.0.3202.89

### Descriptio

[2017-11-15 02:32] Vince147 commented on #131
Alright i will start the coding.

[2017-11-15 15:55] ninSmith commented on #137
Hey,

May I have a look to your cortex configuration ?
Especially the part about Hippocampe

Thx

[2017-11-15 20:11] treed593 commented on #137
`    # Hippocampe: this analyzer  queries  TheHive  Project's  Hippocampe
    # product. You need to install it and provide the corresponding URL.
    Hippocampe {
      url="https://hippocampe.ourdomain.com/hippocampe"
    }
`

[2017-11-16 10:31] ninSmith commented on #137
Could you try:

[code]

And see if it works ?

[2017-11-16 15:25] treed593 commented on #137
Exactly what I needed! Thanks @ninSmith

[2017-11-16 15:25] #137 closed

[2017-11-21 07:37] BrevilleBro commented on #97
Hi,

We have released our Splunk analyser. @SivaPrem , let us know if you encounter any issues :)
https://github.com/UNIT777/Cortex-Analyzers/tree/Splunk

[2017-11-23 08:12] cemasirt opened #143 "Analyzers using online query fails to use system proxy settings"
### Request Type
Bug

### Work Environment
| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | CentOS
| OS version (client)       | 7
| Cortex Analyzer Name      | PassiveTotal, OTXQuery, phishtank etc.
| Cortex Analyzer Version   | 1.7.0
| Cortex Version            | 1.1.4
| Browser type & version    | N/A

### Description
I'm trying to

[2017-11-24 03:05] BrevilleBro commented on #135
Thanks @3c7 , let us know if you need any help with it, as this is something we are interested in as well :)

[2017-11-24 06:13] 3c7 commented on #135
It would be great to know which use cases are interesting for your work, so I know what to implement. I'm just getting to know censys.io, so mayne I'm not aware of certain possible use cases. :)

[2017-11-24 14:56] orbital-github-user opened #144 "IBM X-Force Exchange Analyzer"
## Request Type

Feature
## Description

Adding a new analyzer for Cortex : IBM X-Force Exchange ([https://exchange.xforce.ibmcloud.com/](https://exchange.xforce.ibmcloud.com/))
API available here --> [https://api.xforce.ibmcloud.com/doc/](https://api.xforce.ibmcloud.com/doc/)

[2017-11-24 15:16] orbital-github-user opened #145 "BlueCoat Malware Analysis Sandbox Analyzer"
## Request Type

Feature
## Description

Adding a new analyzer for Cortex : BlueCoat Malware Analysis Sandbox (https://www.bluecoat.com/en-gb/node/8027#readmore)

Would be great if we could:
+ Submit a file and detonate/open it in the sandbox, retrieve report in TheHive
+ Submit URL and open in sandbox, retrieve report/screenshots in TheHive
+ Etc.

[2017-11-24 15:32] orbital-github-user opened #146 "CISCO AMP Sandbox Analyzer"
## Request Type

Feature
## Description

Adding a new analyzer for Cortex : CISCO AMP Sandbox ([https://www.cisco.com/c/en/us/products/security/advanced-malware-protection/index.html#~stickynav=1](https://www.cisco.com/c/en/us/products/security/advanced-malware-protection/index.html#~stickynav=1))

Would be great if we could:
+ Submit a file and detonate/open it in the sandbox, retrieve report in

[2017-11-24 15:48] orbital-github-user opened #147 "IBM QRadar Analyzer"
## Request Type

Feature
## Description

Adding a new analyzer for Cortex : IBM QRadar ([https://www.ibm.com/support/knowledgecenter/SS42VS_7.2.6/com.ibm.qradar.doc/c_rest_api_getting_started.html](https://www.ibm.com/support/knowledgecenter/SS42VS_7.2.6/com.ibm.qradar.doc/c_rest_api_getting_started.html))

Would be great if we could:
+ Submit a IOC and retrieve info of events related to it from Q

[2017-11-27 13:24] SivaPrem commented on #97
@BrevilleBro :: Awesome !!!! Thanks for the efforts ... I am gonna test it today !! will update you

[2017-11-27 14:05] saadkadhi commented on #97
Thanks @BrevilleBro for your contribution. @SivaPrem please let us know how it goes and we'll add it to the next release if everything is OK.

[2017-11-27 21:37] mikjkd opened #148 "Issue with Cuckoo Sanbox Analyzer"
Analyzer

Describe your request as clearly as possible.
Hi i have some troble with Cuckoo Sandbox Analyzer, it not run.

### Steps to Reproduce
1)Run Cortex
2)Select Cuckoo Sandbox file Inet analyzer
3)Upload file
4)Run analyzer

### Complementary information
when i upload a file for analyze, and run cuckoo sandbox analyzer i have this error message:
{
  "errorMessage": "Unexpected Error: Expectin

[2017-11-28 07:18] crackytsi commented on #148
See also #114.
I have the same issue sometimes

[2017-11-28 19:55] 3c7 commented on #135
Okay, let me see what info I can fetch over the API. I'll develop the analyzer this Friday, probably.

[2017-11-28 22:37] BrevilleBro commented on #135
Thanks @3c7! Looking forward to it.

[2017-11-29 22:37] thebitbucket123 opened #149 "VirusShare downloader bash script bug"
### Title
Bash script to download VirusShare hashes wgets strings unrelated to hash files

### Request Type
Bug

### Work Environment
|---------------------------|--------------------
| OS version (server)       |  Ubuntu
| OS version (client)       | 16.04
| Cortex Analyzer Name      | VirusShare getHashes.sh
| Cortex Analyzer Version   | 0.1
| Cortex Version            | 1.1.4
| Browser type & v

[2017-12-04 16:10] treed593 opened #150 "Issue with Shodan Analyzer"
### Request Type
Bug

### Description
Describe your request as clearly as possible.

### Steps to Reproduce
1)Run Cortex
2)Select Shodan_host ip analyzer
3)Provide IP
4)Run analyzer

### Complementary information
`{
  "errorMessage": "Error: Invalid output\nTraceback (most recent call last):\n  File \"./shodan_analyzer.py\", line 3, in <module>\n    from cortexutils.analyzer import Analyzer\nImpor

[2017-12-04 16:14] saadkadhi commented on #150
@treed593 have you installed all the pre-requisites as described on [https://github.com/CERT-BDF/CortexDocs/blob/master/installation/analyzers.md](https://github.com/CERT-BDF/CortexDocs/blob/master/installation/analyzers.md)?

A lot of analyzers won't work since they require the `cortexutils` python lib.

[2017-12-04 16:15] 3c7 commented on #150
Hey @treed593, looks like you don't have the analyzers properly installed. In order to install the required python modules you have to install them as root or as the user which should run them as follows:
`pip install -r $(cat analyzers/*/requirements.txt | sort -u)`
If you have multiple python versions installed, you may want to use
`pip3 install -r $(cat analyzers/*/requirements.txt | sort -u)`

[2017-12-04 16:16] treed593 commented on #150
`treed@ip-10-0-1-28:/opt/Cortex-Analyzers/analyzers$ sudo pip install $(sort -u */requirements.txt)
The directory '/home/treed/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/home/treed/.cache/pip' or its paren

[2017-12-04 16:17] treed593 commented on #150
Just tried re-running that. All the other analyzers seem to be working.

[2017-12-04 16:17] 3c7 commented on #150
You installed them for python2 while shodan analyzer uses python3.

[2017-12-04 16:19] treed593 commented on #150
python3 is not installed, that could be why. I will try that now, it should be added to https://github.com/CERT-BDF/CortexDocs/blob/master/installation/analyzers.md if it is required though

[2017-12-04 16:20] treed593 commented on #150
treed@ip-10-0-1-28:/opt/Cortex-Analyzers/analyzers$ sudo pip3 install $(sort -u */requirements.txt)
The directory '/home/treed/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/home/treed/.cache/pip' or its paren

[2017-12-04 16:27] nadouani commented on #150
[code]

Please upgrade your pip too

[2017-12-04 16:28] treed593 commented on #150
Done @nadouani, same issue

[2017-12-04 16:29] 3c7 commented on #150
Then just `pip3 install shodan cortexutils`.

[2017-12-04 16:32] treed593 commented on #150
That improved things, now I get
`
"errorMessage": "TLP is higher than allowed.",
`

When selecting 'Amber'

[2017-12-04 16:34] treed593 commented on #150
And
`
 "errorMessage": "Unexpected Error: 'NoneType' object is not subscriptable",
`
With 'White'

[2017-12-05 10:03] cemasirt commented on #143
Needed to add the proxy config in /etc/cortex/application.conf.

 `config {
     global {
     proxy {
      http="http://PROXYIP:PORT",
      https="http://PROXYIP:PORT"
      }
    }`

[2017-12-05 10:03] #143 closed

[2017-12-05 15:34] #150 closed

[2017-12-13 07:44] 3c7 commented on #135
Created a PR for a first version. Currently, it uses the `view` API-endpoint which returns the exact object (certificate or host based on ip or domain). If you have some ideas what to display in the reports additionally, I'd like to hear (read) them.

[2017-12-13 08:16] 3c7 commented on #18
Still no answer from the team. As @Vince147 creates an analyzer for urlscan.io, this can be closed (@saadkadhi).

[2017-12-13 12:26] nadouani commented on #135
The PR #153 has been merged into develop branch

[2017-12-13 12:26] #135 closed

[2017-12-15 15:09] Foneman38 opened #156 "Joe Sandbox Analyzer returning error"
Joe Sandbox Analyzer not working
### Request Type
Analyzer

### Work Environment
N/A

### Description
Joe Sandbox Analyzer not working on Joe Sandbox Complete (On Premise)

### Complementary information
1. I am using the analyzer that was rewritten to support api V2 found here: https://github.com/CERT-BDF/Cortex-Analyzers/pull/141

2.  extracted from my conf file:
JoeSandbox {
     url = "https://

[2017-12-15 15:29] 3c7 opened #157 "Updating VMRay Analyzer to accept files as dataType"
Right now the analyzer only supports checking hashes against a VMRay instance. The next version should allow the user to upload samples to vmray.

[2017-12-15 16:02] ant1 commented on #156
Does the analyzer with API v1 only work for you or not?
Is your Joe Sandbox using https not http?
If using https, do you have the CA Root certificate installed for it?

[2017-12-17 20:14] darksheer commented on #68
I noticed this was added, but the default config in /cortex/application.conf doesn't have the configuration requirements for the analyzer (URL Information)

[2017-12-17 22:56] Foneman38 commented on #156
The analyzer does not work with the v1 only code. The Joe Sandbox API uses https, but I have set requests to verify=false

[2017-12-18 10:24] nadouani commented on #45
Both PRs have been merged into `develop` branch, and will be released on 1.8.0 release

[2017-12-18 10:24] #45 closed

[2017-12-18 10:51] nadouani commented on #68
Hello @darksheer, for analyzers documentation, please refer to https://github.com/CERT-BDF/CortexDocs/blob/master/analyzer_requirements.md

[2017-12-19 11:17] garanews opened #160 "Fireeye iSIGHT Analyzer"
### Request Type
Analyzer

### Work Environment
N/A

### Description
iSIGHT API extends FireEye cyber threat intelligence products and associated technical indicators so that customers and partners can easily match indicators to rich intelligence context, ingest indicator data associated with intelligence reporting, and collect and consume intelligence reports. Integrating data tied to context all

[2017-12-21 07:10] #130 closed

[2017-12-21 07:12] jeromeleonard commented on #96
yw.

[2017-12-21 07:12] #96 closed

[2017-12-21 08:52] 3c7 commented on #112
Merged.

[2017-12-21 08:52] #112 closed

[2017-12-21 11:07] 3c7 opened #161 "Bug in Abuse_Finder Analyzer"
## Error
[code]

## Input
Domain: sevindiricihaber[.]eu

[2017-12-22 13:26] 3c7 commented on #15
The intelMQ will use the [intelmq-fody-backend](https://github.com/Intevation/intelmq-fody-backend).

[2017-12-27 07:58] #104 closed

[2017-12-27 08:24] #124 closed

[2017-12-27 09:56] #18 closed

[2017-12-27 09:58] 3c7 commented on #102
Still no answer from Recorded Future, requested status update.

[2017-12-28 15:29] rstgermain opened #162 "Cuckoo Analysis Fails"
### Request Type
Bug
### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | CentOS
| OS version (client)       | Win 10, Ubuntu
| TheHive version / git hash   | 3.0.2
| Package Type              | RPM
| Browser type & version    | Chrome 62.0.3202.94

### Problem Description
When running a Cuckoo URL or File analysis o

[2017-12-29 12:06] garanews commented on #162
Could you try this https://github.com/LDO-CERT/Cortex-Analyzers/blob/master/analyzers/CuckooSandbox/cuckoosandbox_analyzer.py

[2017-12-29 16:46] rstgermain commented on #162
That did the trick. Thank you!

[2017-12-29 16:46] #162 closed

[2017-12-29 17:18] garanews commented on #162
good, created PR #163

[2018-01-03 12:14] 3c7 commented on #102
Recorded Future told me today that they don't provide trial access to their service.

[2018-01-03 12:43] #103 closed

[2018-01-03 12:44] #64 closed

[2018-01-09 11:06] srilumpa opened #164 "MISP analyzer certpath option doesn't accept bool value"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       |  Ubuntu
| OS version (client)       | N/A
| Cortex Analyzer Name      | MISP
| Cortex Analyzer Version   | 2.0
| Cortex Version            | 1.1.4
| Browser type & version    | N/A

### Description
Documentation (https://github.com/TheHive-Pro

[2018-01-09 12:11] 3c7 commented on #164
This seems to be a problem regarding python2. Double checked it using a list of MISP-servers and a single MISP server:
[code]
and
[code]
are working.

[2018-01-09 13:22] srilumpa commented on #164
Seems to be only a python2 issue with the "list" configuration format.
[code]
works but not
[code]

[2018-01-09 14:58] 3c7 commented on #164
Fixed the bug, it will be included in the next release (which is most likely today or tomorrow).

[2018-01-09 14:58] #164 closed

[2018-01-09 15:38] #121 closed

[2018-01-11 08:51] #149 closed

[2018-01-11 13:19] garanews opened #166 "Malpedia (yara) Analyzer"
### Request Type
Analyzer

### Description
 Malpedia is a free service offered by Fraunhofer FKIE: https://malpedia.caad.fkie.fraunhofer.de/
Administration is lead by Daniel Plohmann, who also bootstrapped Malpedia with data on roundabout 450 families.
The website has been designed and programmed by Steffen Enders.
Mission Statement:
The primary goal of Malpedia is to provide a resource for rapid

[2018-01-11 13:38] garanews commented on #166
#167

[2018-01-12 17:07] l3m0ntr33 opened #169 "Onyphe_Ports_1_0 return bad data in JSON object"
Onyphe_Ports_1_0 tested on ip 8.8.8.8 with Cortex

### Request Type
Bug

### Work Environment
(replace with N/A if not applicable)

| Question              | Answer
|---------------------------|--------------------
| Cortex Analyzer Name      | Onyphe
| Cortex Analyzer Version   | 1.0
| Cortex Version            | 1.1.4

### Description

It seems to have a bug when building the returned JSON from

[2018-01-12 17:15] l3m0ntr33 opened #170 "Bug in Onyphe_Threats_1 analyzer"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| Cortex Analyzer Name      | Onyphe
| Cortex Analyzer Version   | 1.0
| Cortex Version            | 1.1.4

### Description
Onyphe_Threats_1_0 on ip 8.8.8.8

It seems to have a bug when building the returned JSON from Onyphe Threats.

JSON returned :
{
  "artifacts": [

[2018-01-12 18:03] #170 closed, assigned to nobody

[2018-01-12 18:12] 3c7 commented on #169
Hey @l3m0ntr33, thanks for reporting the issue. Right now the analyzer base class extracts all artifacts from analyzer reports using a RegEx search over the raw response the analyzer provides. This is the reason why your request - `8.8.8.8` - and `0.009` are mentioned in the artifacts part of the Cortex-response.

At the moment, the artifacts-section is not evaluated by TheHive. While sorting out

[2018-01-13 07:17] l3m0ntr33 commented on #169
Thanks for your reply.
I did not test it with TheHive but from MISP. Using the MISP Cortex Plugin it's a problem because it uses the artifacts-section :( so its could be good to consider that artifact section is the reference in my opinion.
![image](https://user-images.githubusercontent.com/15094801/34903835-fe55419a-f839-11e7-8daa-ff88b7bc0604.png)

[2018-01-13 12:37] 3c7 commented on #169
Ah okay. Sorry, did not thought about that use case. I definitely will implement filtering out the input (8.8.8.8) and working something out how to get a correct list of allowed tlds.

[2018-01-13 13:30] l3m0ntr33 commented on #169
I agree with you. May be there could be two updates in cortexutils, one on the extractor and one on the base analyzer class.

For the extractor as you said we need to improve regex rules and check that and observables had not already been add to the artifact object.

For the base analyzer class in cortexutils maybe modify this function:
` def report(self, full_report, ensure_ascii=False):`
to that

[2018-01-13 14:42] 3c7 commented on #169
Hey @l3m0ntr33, can you try https://github.com/3c7/Cortex-Analyzers/tree/fixes/169? That's not perfect though, but it would first cover the needs until I'm able to correctly detect domains.

[2018-01-18 10:17] 3c7 commented on #166
Merged!

[2018-01-18 10:17] #166 closed

[2018-01-19 06:51] jeromeleonard opened #172 "Update analyzers configuration for Cortex2"
### Description
Update all analyzers configuration for the new version of Cortex

[2018-01-22 14:47] #157 closed

[2018-01-24 12:30] crackytsi opened #173 "Bluecoat analyzer fails if domain contains subdomain"
### Request Type
Bug / Analyzer

### Work Environment
N/A

### Description
If a domain observable is analyzed that contains a secondary domain like
ocsp.comodoca.com it fails with the following error message:

[code]

[2018-01-24 14:03] 3c7 commented on #173
Failed due to an IndexError because of a not expected character in category title. Thanks for reporting.

[2018-01-24 14:04] #173 closed

[2018-01-24 14:20] crackytsi commented on #173
thank you :)

[2018-01-25 10:12] nadouani opened #174 "Malwareconfig Lookup and Yara Rule Additions"
Requested by @darksheer (https://github.com/TheHive-Project/Cortex/issues/57)
### Request Type

Feature Request

### Problem Description
Cortex currently doesn't support lookups via http://malwareconfig.com.  Having the ability to enrich data via Malware config would be a nice addition to the suite of Cortex analyzers.

### Possible Solutions
Malwareconfig's API documentation is available here: ht

[2018-01-26 06:07] saadkadhi commented on #55
Hi @mack7121. Please give it a shot then. Feel free to ask @3c7 and @jeromeleonard for advice though we can't obviously test your code as we don't have access to a test Cb env.

[2018-01-26 06:09] saadkadhi commented on #156
@ant1 can you please check and let us know if we can go ahead and close this issue? Thanks mate.

[2018-01-26 06:22] 3c7 commented on #55
Great! You can find info on how to create an Analyzer in the documentation: https://github.com/TheHive-Project/CortexDocs/blob/master/api/how-to-create-an-analyzer.md#writing-an-analyzer.
It would be great, if your analyzer supports python 3.

[2018-01-26 06:28] ant1 commented on #156
I suggest doing a network capture with SSL disabled or using an SSL interception tool like burp/mitmproxy/sslsplit to debug the issue.

[2018-01-30 15:51] robertnixon2003 opened #175 "MISP Analyzer Tag and Sightings pull"
Is there any thoughts on adding to the MISP analyzer to pull all tags and number of sightings from the MISP events that match?

[2018-01-30 16:09] 3c7 commented on #175
Tags should already get displayed on matching events. Last time I checked the MISP api (dev workshop last November) it was not possible to grab the sightings - but I will check again. Sightings would be an enhancement indeed.

[2018-01-30 18:37] robertnixon2003 commented on #175
No tags are coming through on my install. Also when you export to MISP (share), shouldn't the sightings in TheHive be sent with the observables to MISP?

MISP Event:
![image](https://user-images.githubusercontent.com/20773170/35584066-d2fc4486-05c1-11e8-9755-add40214e308.png)

Cortex Report inside TheHive
![image](https://user-images.githubusercontent.com/20773170/35584119-062702a6-05c2-11e8-8b1b-

[2018-01-31 14:17] 3c7 commented on #175
This is how it should look like:
<img width="209" alt="firefox_2018-01-31_15-15-33" src="https://user-images.githubusercontent.com/2846609/35627605-aefa55d6-0699-11e8-8665-d7da413e8ecf.png">

Are your tags exportable? Seems like they don't show up using the MISP api either.

[2018-01-31 20:59] 3c7 opened #176 "Abuse.ch SSL Blacklist Analyzer"
URL: https://sslbl.abuse.ch/

Will provide an analyzer for that, but low prio atm.

[2018-02-01 15:07] srilumpa commented on #176
Would it be possible to design the analyzer to plug in it other services provided by abuse.ch? I was thinking of adding RansomwareTracker (https://ransomwaretracker.abuse.ch/) and FeodoTracker (https://feodotracker.abuse.ch/)

[2018-02-01 18:13] 3c7 commented on #176
Hmmm. Need to think about it whether it's better to split them into multiple analyzer or to keep one. As these are open trackers, they don't need credentials, so from that side it would be possible (would'nt like to mix different credentials in one analyzer config).

[2018-02-02 16:40] geekscrapy opened #177 "Cuckoo file submission Analyzer error"
### Request Type
Bug / Analyzer

### Work Environment
(replace with N/A if not applicable)

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | CentOS 7 (Running Cortex in Docker )
| OS version (client)       | NA
| Cortex Analyzer Name      | CuckooSandbox_File_Analysis_Inet_1_0
| Cortex Analyzer Version   | 1.0
| Cortex Version

[2018-02-04 20:19] hackdefendr opened #178 "Cuckoo Permission Denied"
# Cuckoo Permission Denied

### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| OS version (client)       | 9
| Cortex Analyzer Name      | CuckooSandbox
| Cortex Analyzer Version   | 1.0
| Cortex Version            | 1.1.4
| Browser type & version    |  Chrome

### Description
Every C

[2018-02-04 20:45] hackdefendr commented on #178
So just to test...I set my Cuckoo analyzer folder to 777.  This seems to resolve the permission error, and now I get this:

[2018-02-05 08:45] garanews commented on #177
The analyzer speaks with cuckoo API:
http://docs.cuckoosandbox.org/en/latest/usage/api/
Are you trying to connect to capex online version? That one doesn't expose the API.

[2018-02-05 08:49] garanews commented on #178
Hi,
are you able to submit manually a file or an url to cuckoo using api? (http://docs.cuckoosandbox.org/en/latest/usage/api/)

curl -F file=@/home/cuckoo/xxx.exe http://localhost:8001/tasks/create/file
curl -F url="http://www.malicious.site" http://localhost:8001/tasks/create/url

[2018-02-05 08:50] geekscrapy commented on #177
No, an internal hosted one.

CAPE is a fork of Cuckoo and I believe the API functionality has not been changed much so should work out of the box with the Cuckoo analyzer.

However, I don't believe the issue is with the API but with the analyzer because I didn't see a network connection between Cortex and CAPE. The error seems to occur when passing the file from Cortex to the python analyzer, henc

[2018-02-05 08:53] garanews commented on #177
from cortex side machine, are you able to submit something manually with api?
curl -F file=@/home/cuckoo/xxx.exe http://localhost:8001/tasks/create/file
curl -F url="http://www.malicious.site" http://localhost:8001/tasks/create/url

[2018-02-05 09:51] jeromeleonard opened #179 "error in MISP/requirements.txt"
syntax error in MISP/requirements.txt :

[code]
should be :
[code]
 without spaces.

[2018-02-05 09:54] #179 closed

[2018-02-05 14:37] hackdefendr commented on #178
Is that for the Cuckoo API or the Cortex API?
Cuckoo works fine by itself.
I will try those commands when I get off work.

[2018-02-05 15:39] garanews commented on #178
These are for speak with cuckoo.
From the machine where you run the cortex analyzer you should be able to submit a file/url  to cuckoo using curl and pointing the api port of cuckoo.
On the cuckoo machine you have to be sure that api service is on, in ps aux | grep python you should see a row similar to this:
/usr/bin/python /usr/local/bin/cuckoo api --host 0.0.0.0 --port 8001

[2018-02-05 22:15] robertnixon2003 commented on #175
You were right. I had to set this to false: MISP.incoming_tags_disabled_by_default
For those events since they came from another org.

What do you think about the sightings? If it is marked as sighted in TheHive should that carry over to MISP?

[2018-02-05 22:17] robertnixon2003 opened #180 "Anomali Staxx Analyzer"
### Request Type
Feature

Analyzer for Anomali STAXX. I would like to have an analyzer for Anomali's free STAXX server. I will be glad to help someone write it. Just not the best at JSON yet.

https://www.anomali.com/platform/staxx

[2018-02-06 06:22] saadkadhi commented on #175
Hi @robertnixon2003. Re 'What do you think about the sightings? If it is marked as sighted in TheHive should that carry over to MISP?', this has been planned for quite some time. It should be available with TheHive 3.1. We track it under [#366](https://github.com/TheHive-Project/TheHive/issues/366) in TheHive's repository.

If you have no other question/suggestion, please close this issue.

[2018-02-06 17:55] #175 closed

[2018-02-07 09:04] garanews commented on #178
Can you provide any feedback?

[2018-02-07 09:07] garanews commented on #177
What is the filetype you're trying? What's the size? Did you try with other files?

[2018-02-07 15:10] hackdefendr commented on #178
Yes I can submit files and urls via the Cuckoo API, but my API is not listening on port 8001.

[2018-02-07 19:37] garanews commented on #178
In the /etc/cortex/application.conf you should set your cuckoo url with its api port whatever it is.

[2018-02-07 20:23] hackdefendr commented on #178
I already have that configured.

This is beyond the basic stuff.

[2018-02-07 20:29] saadkadhi commented on #178
@hackdefendr I'd advise getting in contact with @garanews on [Gitter](https://gitter.im/TheHive-Project/TheHive) for troubleshooting the problem then summing up the results here. A GitHub issue is not well-suited for debugging in my opinion.

Thanks.

[2018-02-08 10:46] jeromeleonard opened #181 "Improve Phishtank maliciousness results"
### Request Type
improvement

### Description
Phishtank analyzer does not consider every information available (`in_database`, `verified`, `valid` ) to determine if an url is a phish or not.

### Possible Solutions
Set results to :
`malicious` :  in_database = true, verified = true, valid = true
`suspicious`: in_database = true, verified = false, valid = false
`safe`:  in_database = true, verified

[2018-02-09 06:56] #181 closed

[2018-02-09 09:40] jeromeleonard opened #182 "Manage fqdn datatype in domain_name service of DNSDB analyzer"
Update DNSDB analyzer to query for fqdn with service `domain_name`

[2018-02-09 09:53] #182 closed

[2018-02-09 13:48] jeromeleonard opened #183 "Manage domain datatype in Name_history service of DNSDB analyzer"
Update DNSDB analyzer to query for domain with service name_history

[2018-02-09 13:53] #183 closed

[2018-02-09 15:18] 3c7 commented on #131
Hey @Vince147, how's the status on this one? Need help?

[2018-02-10 17:24] #178 closed

[2018-02-14 12:12] geekscrapy commented on #177
Curl tests aside I've been trying with executable files of around 1/2mb. Not tired with other files since it they are the only types of files I'll be submitting.

Testing the curl command and permissions later today

[2018-02-15 14:14] K-marad opened #185 "PayloadSecurity analyzer sslverify config conversion bug."
### Request Type
Bug

### Description
In PayloadSecurity analyzer, the current code does :
[code]

The problem is that self.verify is a unicode object, not a boolean.
So requests thinks that self.verify is the path to the local SSL certificates and uses it as such.
Which leads to a FileNotFound error.

### Steps to Reproduce
Normal usage...

### Possible Solutions
config.verifyssl should be parsed

[2018-02-15 15:33] garanews commented on #144
https://github.com/TheHive-Project/Cortex-Analyzers/pull/187

[2018-02-15 17:36] mlodic opened #188 "Cuckoo Analyzer changes the name of the file"
### Request Type
Feature

### Description
I noticed that every time I send a file to the Cuckoo Analyzer, the file is called like this:
`cortex-<number>-datafile`
I think that it would be really useful if the original file name was kept. Otherwise, I lose an important information when I am looking for the analysis directly from Cuckoo.

### Possible Solutions
Change the pattern used like one of th

[2018-02-16 11:11] Edward-merrett commented on #25
Hey,

Is there an update on this?

Would really love to integrate with ATD.

Ed

[2018-02-16 21:07] Edward-merrett opened #189 "Feature Request: haveibeenpwned.com"
# I would love to see a haveibeenpwned.com Analyser, would tie in well with DataBreach intel.)

### Analyser
Would love to work with someone to create an analyser for haveibeenpwned.com.

https://haveibeenpwned.com/API/v2

[2018-02-16 21:13] Edward-merrett commented on #97
Any update on the next release? Can you help me with how I get this installed on my env now please? How to I add this to the current analyzers folder and theHive?

[2018-02-18 00:32] znb opened #190 "Analyzer - Haveibeenpwned.com Lookup"
### Request Type

Analyzer

### Work Environment
N/A

### Description
A simple Analyzer to check if an email address is listed in the haveibeenpwned.com database.

### Complementary information
This mostly works. I'm just working on getting the reports right.

[2018-02-19 11:33] garanews commented on #188
In this way it is working keeping the original filename: https://github.com/LDO-CERT/Cortex-Analyzers/commit/80aa6a4b1bc46ad1adbc781f3e9249c2cd1e0be0#diff-4f9672beff6f37b6d35a9b3cc309c64a

![cuckoo_file](https://user-images.githubusercontent.com/16938405/36375763-e6d9000c-1570-11e8-967e-0cf5d9000b05.png)

Thanks for reporting

[2018-02-19 13:46] ant1 opened #193 "DomainTools_ReverseIP should accept fqdn and/or domain as datatype"
### Request Type
Bug

### Description

Currently, DomainTools_ReverseIP only accepts IP addresses.

DomainTools_ReverseIP should accept FQDN and/or DOMAIN as datatype,  see https://www.domaintools.com/resources/api-documentation/reverse-ip/

[2018-02-20 11:05] mlodic commented on #188
Yes, this fix solves the issue! Thank you very much!

[2018-02-21 10:35] ant1 commented on #156
Also,  make sure you have automatic system selection in the php configuration file

[code]

[2018-02-21 15:56] garanews opened #194 "Idea for HASH vs Google Analyzer"
### Request Type
Analyzer

### Description
Often the hashes added as observables can be easlily identified as malicious  with a simple search on google.
So I'm wondering why run other analyzers (paid) to retrieve the same information?
We're using MechanicalSoup to search a list of malicious md5 in google and obtain a list of domains that help us to identify the md5 as malicious. (eg  malwr.com, vi

[2018-02-22 13:07] srilumpa opened #195 "MISP WarningLists long report does not display results"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| Cortex Analyzer Name      | MISP WarningLists
| Cortex Analyzer Version   | 1.0
| Cortex Version            | 1.1.4

### Description
When an artifact is found in a MSIP warning list, the short report displays correctly the information

[2018-02-22 13:46] srilumpa opened #197 "MISP WarningLists CIDR notation support"
### Request Type
Bug / Feature

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| Cortex Analyzer Name      | MISPWarningLists
| Cortex Analyzer Version   | 1.0
| Cortex Version            | 1.1.4

### Description
Some data shipped by the MISP WarningLists project are IP ranges registered through their CI

[2018-02-22 14:52] srilumpa opened #198 "IPv4 address Extractor regex does not match only IPv4 address"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| Cortex Analyzer Name      | cortexutils
| Cortex Analyzer Version   | 1.2.0
| Cortex Version            | 1.0.0, hash of the commit

### Description
The regular expression used to detect if an artifact is an IPv4 address is "too wide"

[2018-02-23 07:39] garanews commented on #160
Work in progress

![image](https://user-images.githubusercontent.com/16938405/36583206-f84f5dac-1874-11e8-9b95-0f02996ecb37.png)

[2018-02-24 18:03] #193 closed

[2018-02-24 18:21] #99 closed

[2018-02-26 16:52] jeromeleonard opened #201 "Fortiguard analyzer : use HTTPS to request fortiguard service"
Service is now recheable on HTTPS only.

## Solution

Change `baseurl = 'http://www.fortiguard.com/webfilter?q='` to `baseurl = 'https://www.fortiguard.com/webfilter?q='`

[2018-02-26 16:54] #201 closed

[2018-02-27 03:18] jcchristian commented on #189
#190

[2018-02-27 16:17] garanews commented on #160
https://github.com/TheHive-Project/Cortex-Analyzers/pull/202

[2018-02-28 06:55] ecapuano opened #203 "Bug: FortiGuard URLCategory Failure"
Looks like my URL category analyzer broke again =\

[code]

Since the analyzer is basically a web scraper, it's sensitive to any changes of the website. Will take a closer look here soon.

[2018-02-28 07:07] ecapuano commented on #203
Submitted PR to use https for request
https://github.com/TheHive-Project/Cortex-Analyzers/pull/204

[2018-02-28 08:54] #195 closed

[2018-02-28 10:17] 3c7 commented on #169
Merged #184, automatic extraction needs improvement, though.

[2018-02-28 10:17] #169 closed

[2018-02-28 10:18] 3c7 commented on #198
Some thoughts in the PR (#199).

[2018-03-01 18:35] heywoodlh commented on #131
I'm just getting into Hive/Cortex and never developed anything for it, but I've written a Python based API wrapper for urlscan.io: https://github.com/heywoodlh/urlscan-py.

Perhaps this could help with the integration? If I can help at all I would love to.

[2018-03-04 20:53] mhgeay commented on #131
Hello @heywoodlh, @Vince147,
If you need help on that, ping me !
Good luck

[2018-03-04 22:58] heywoodlh commented on #131
Yeah, I would love to help but don't know how to start. Please let me know the best way to contact you @mhgeay

[2018-03-05 07:37] 3c7 commented on #131
Hello @heywoodlh,

there is some documentation about how to create an analyzer: https://github.com/TheHive-Project/CortexDocs/blob/master/api/how-to-create-an-analyzer.md#writing-an-analyzer.

Does it help you how to get started? Do you have specific questions?

[2018-03-05 07:42] 3c7 commented on #131
There's also a gitter channel (https://gitter.im/TheHive-Project/TheHive) with people who are willing to help.

[2018-03-05 10:52] BrevilleBro commented on #131
Hi,

We are currently building this analyser. We have built the Python component and are currently working on the template for it.

[2018-03-05 22:48] mhgeay commented on #131
@BrevilleBro Ok great, no need to do the same stuff ! tell me if you need help for the documentation.

[2018-03-05 23:30] BrevilleBro commented on #131
Hi @mhgeay, please feel free to modify the code to your liking and submit a PR with improvements if necessary.

I have released our initial version: https://github.com/BrevilleBro/cortex-analyzer-urlscanio

Please test it out, if all is good and working I will submit a PR to this repo.

[2018-03-09 13:05] srilumpa opened #205 "StopForumSpam analyzer"
### Request Type
Analyzer

### Description
We are considering using the Stop Forum Spam data feed to categorize IP addresses and email addresses (well, mainly mail addresses) as potential or known spammers. Will this be useful for the rest of the Cortex community? If so I will start developing the analyzer.

### Complementary information
http://www.stopforumspam.com

[2018-03-12 23:33] armngar opened #206 "DomainTools authentication appears to be broken"
### Request Type
Bug
### Work Environment
| Question              | Answer
|---------------------------|--------------------
| OS version (server)       |Ubuntu Xenial running Docker
| OS version (client)       | Windows 7
| Cortex Analyzer Name      | DomainTools
| Cortex Analyzer Version   |
| Cortex Version            |  1.1.4
| Browser type & version    | n/a

### Description
Attempting to use

[2018-03-13 15:33] Foneman38 commented on #156
Packet capture shows the first post is checking to see if the Joe server is online.  Joe responds with the answer and triggers an unexpected value error.

**Here is the Cortex Data:**
`{
  "errorMessage": "Unexpected Error: 'data'",
  "input": {
    "dataType": "url",
    "config": {
      "url": "http://sccfanjoe02.gacfanet.com/joesandbox/index.php/",
      "apikey": "REMOVED",
      "check_tlp":

[2018-03-13 17:05] Foneman38 commented on #156
So after further investigation, it appears that response.status_code returns a string, so the analyzer code should be modified as follows:
`            if response.status_code == 200:
                self.runv2()
            else:
                self.runv1()

  **if response.status_code == '200':
                self.runv2()
            else:
                self.runv1()**`

[2018-03-13 17:13] ant1 commented on #156
According to requests documentation and to my tests,  status_code is an int.

[2018-03-13 17:50] Foneman38 commented on #156
Thank you for your assistance. Your original suggestion for automatic system selection was the solution.
$config['jbx']['autosystem'] = true;

I'm a dumba$$ for not trying it earlier. :(

[2018-03-13 18:02] #156 closed

[2018-03-21 07:38] garanews opened #208 "View All in template long not working"
### Request Type
Bug

### Problem Description
The View All link present in some template long (such as VT) is not working.
Tried with different browser.

### Steps to Reproduce
Click the View All in VT long report
![image](https://user-images.githubusercontent.com/16938405/37698273-3c1c2a34-2ce2-11e8-8939-75152af972a7.png)

### Complementary information
This is the code that is not working
![image

[2018-03-21 10:05] SimonSays4223 opened #209 "Cortex-Analyzer - MISP-plugin without proxy support/recognition"
**Cortex-Analyzer - MISP-plugin without proxy support/recognition**

### Request Type
Bug / Analyzer

### Work Environment
behind proxy with basic auth

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | CentOS
| OS version (client)       | CentOS
| Cortex Analyzer Name      | MISP
| Cortex Analyzer Version   | 2.0
| Cortex Version

[2018-03-21 11:04] SimonSays4223 opened #210 "Cortex-Analyzer - MISP-plugin no "ssl-verify = False" option"
**Cortex-Analyzer - MISP-plugin no "ssl-verify = False" option**

### Request Type
Bug / Analyzer

### Work Environment
self-signed MISP within own infrastructure

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | CentOS
| OS version (client)       | CentOS.
| Cortex Analyzer Name      | MISP
| Cortex Analyzer Version   | 2.0
| Cortex

[2018-03-21 11:07] 3c7 commented on #210
You should be able to set it to false in the config.
[code]

See https://github.com/TheHive-Project/CortexDocs/blob/master/analyzer_requirements.md#requirements-7.

[2018-03-21 11:13] 3c7 commented on #209
Need to check this.

PyMISP is based on requests which allows setting the proxies using the environment variables `HTTP_PROXY` and `HTTPS_PROXY` - they are set by the Analyzer base class, so I'm wondering where the proxy addresses are lost on the way.

[2018-03-21 11:14] SimonSays4223 commented on #210
You are right, my fault! I previously checked it but due to case sensitivity it didn't worked. I tried it with certpath=False! :(

Now with
`certpath=false`
it works out nicely!

Thanks

[2018-03-21 11:15] #210 closed

[2018-03-21 11:17] SimonSays4223 commented on #209
It's a bit strange, because it works out for other plugins (GoogleSafeBrowsing) etc.

[2018-03-21 11:49] 3c7 commented on #209
Confirmed. Have a fix for that.

[2018-03-21 13:26] 3c7 commented on #185
`requests`, the python module that queries the API, takes Boolean and Strings as verify param for the given methods. Valid values for `config.verifyssl` are therefore:
- `true`
- `false`
- `/path/to/cert.pem`

[2018-03-21 13:35] #209 closed

[2018-03-23 14:51] nadouani opened #211 "Abuse_Finder_2_0 - Invalid analyzer output format"
By @MAXXIT4HACK

Hi,

During the setup and validation of TheHive and Cortex analyzers.  I have an error with the Abuse_Finder analyzer output.   Any clues, as to the issue or is this expected output?   The outup of the job is below:

{
  "errorMessage": "Invalid analyzer output format : {\"artifacts\":[{\"type\":\"fqdn\",\"value\":\"abf.co.uk\"}],\"full\":{\"abuse_finder\":{\"raw\":\"\\r\\n    Dom

[2018-03-23 14:56] 3c7 commented on #211
Note: Not directly related, but if pushing changes to that analyzer maybe considering #161.

[2018-03-23 15:03] nadouani commented on #211
looks like both issues are related, the fix of #211 also solves #161

[2018-03-23 15:10] #161 closed

[2018-03-23 15:10] #211 closed

[2018-03-25 11:06] MAXXIT4HACK commented on #211
Thank you all for your feedback.

[2018-03-26 08:37] 3c7 opened #212 "[OS3 Hackathon] Refactor File_Info Analyzer"
# Ideas
- Create a base class which defines functions for reporting and file analyzation
- Create submodules for analyzing different file types (executables, office documents, ...)
- Have an easily readable report dictionary; smth like:
[code]
- The long report can iterate over the different results easily.

[2018-03-26 13:29] 3c7 commented on #212
Ongoing development in feature/fileinfo-refactoring.

[2018-03-26 13:40] garanews commented on #208
If you will be able to fix, it will be nice a toggle button to return to default view (view  20)

[2018-03-29 11:03] 3c7 opened #213 "Analyzer Template Check-Up"
Some reports (both, short and long) are not as useful as they could be, sometimes. This issue is for collecting improvements for the reports.

[2018-03-29 11:04] 3c7 commented on #213
@garanews mentioned that the MISP analyzer short report label should be more distinguishable (color).

[2018-03-29 12:11] garanews commented on #213
Distinguish "found" vs "not found"

![image](https://user-images.githubusercontent.com/16938405/38088109-f9803c68-335a-11e8-90ae-6716d01ac930.png)

[2018-03-29 13:52] garanews commented on #213
I added this (highlighted row) in misp.py:

![image](https://user-images.githubusercontent.com/16938405/38092602-04eda2d0-3369-11e8-96b1-45b99515cf7a.png)

Result:
![image](https://user-images.githubusercontent.com/16938405/38092532-cbeafd66-3368-11e8-841b-be87d255998f.png)

[2018-03-29 16:37] robertnixon2003 opened #214 "Update DomainTools Analyzer to pull Risk and Proximity Score"
### Request Type
Feature

### Description
Can someone update the Domain Tools Analyzer so that it pulls the new Risk Score and Proximity Score that Domain Tools has if you have an API access?

Some examples are here: https://github.com/DomainTools/domaintools_misp

[2018-03-30 14:51] srilumpa opened #215 "Hybrid Analysis analyzer successful even if rate limit reached"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| Cortex Analyzer Name      | HybridAnalysis
| Cortex Analyzer Version   | 1.0
| Cortex Version            | 1.1.4-1

### Description
If the rate limit is reached when querying the Hybrid Analysis service, the analyzer return a `success

[2018-03-30 15:02] saadkadhi commented on #215
@srilumpa please confirm that you are not analyzing the same observable with the same TLP within `cache.job` period (10 mins).

[2018-04-03 07:38] crackytsi opened #216 "Bluecoat Categorization failes with Cortex2"
### Request Type
Bug

### Work Environment
| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian, Ubuntu, CentOS, RedHat, ...
| OS version (client)       | Seven
| Cortex Analyzer Name      | BlueCoat_Categorization_1_0
| Cortex Analyzer Version   | 1.9 (latest from today)
| Cortex Version            | 2.0.1

### Description
BlueCoa

[2018-04-03 07:40] crackytsi opened #217 "OTXQuery_2_0 failes with Cortex2"
### Request Type
Bug

### Work Environment
| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian, Ubuntu, CentOS, RedHat, ...
| OS version (client)       | Seven
| Cortex Analyzer Name      | OTXQuery_2_0
| Cortex Analyzer Version   | 1.9.1 (latest from today)
| Cortex Version            | 2.0.1

### Description
OTXQuery_2_0 analyze

[2018-04-03 09:11] nadouani commented on #215
@saadkadhi This is an issue on the Analyzer side that doesn't handle the "Hybrid Analysis" rate limit reached error. It's not related to the rate limiting configured on Cortex.

[2018-04-03 09:15] #217 closed

[2018-04-03 09:19] srilumpa commented on #215
Yes, we are not using Cortex2 for now (we are currently planning the migration to it)

[2018-04-03 09:39] nadouani commented on #216
Well looks like Bluecoat is returning something like:

[code]

which is not what the analyzer expects.

Two questions:
- Is the API used by the analyzer still valid?
- Should the analyzer handle the 403 error?

[2018-04-03 09:40] nadouani commented on #216
BTW, This is not related to Cortex 2.0.0

[2018-04-03 09:43] nadouani commented on #180
Hello, what would be the goal of this analyzer? I mean you probably know the Anomali STAXX service more than me at least, and I don't know what would be the scenario.

Does Anomali STAXX have an API? Authenticated? Any documentation about it?

[2018-04-03 10:44] 3c7 commented on #216
Symantec added Javascript to the site that prevents the analyzer from working. Querying Bluecoat using curl in the previous successful manner is currently not possible, too. Bad timing. Need to check, if we can fix it.

[2018-04-03 11:28] robertnixon2003 commented on #180
It would be almost the same as the MISP analyzer. STAXX is a STIX repository server.

STAXX is usually hosted locally like MISP, but you do need an to authenticate first with the logon endpoint with a username and password.

[Anomali_STAXX_Installation_&_Administration_Guide_v3.3.pdf](https://github.com/TheHive-Project/Cortex-Analyzers/files/1871269/Anomali_STAXX_Installation_._Administration_Guid

[2018-04-03 12:45] 3c7 commented on #215
Check for that specific error fits now for both error message variations.

[2018-04-03 19:26] saadkadhi commented on #216
If we can't fix it, we need to ax it.

[2018-04-04 08:30] nadouani opened #218 "Data field missing on file submission"
- TheHive v. 3.0.7
- Cortex v. >= 2.x

The data field is missing. Cortex 1 submitted the original filename as data and the path to the file as file, IIRC. This way all Analyzer that process files are failing.

This is a `cortexutils` issue

[2018-04-04 08:52] nadouani opened #219 "Supper the new auto extract config name"
### Request Type
Bug

### Description
Take into account the new config name of the auto artifacts extraction flag: `auto_extract_artifacts`.
We need to also support the old property name (`auto_extract`)

[2018-04-04 09:02] #219 closed

[2018-04-04 09:02] #218 closed

[2018-04-04 19:53] ph34tur3 opened #220 "cybercrime-tracker.net analyzer"
# cybercrime-tracker.net analyzer

### Request Type
Analyzer

### Work Environment
N/A

### Description
Analyzer to search cybercrime-tracker.net for c2 servers.

### Complementary information
Currently working on it.

[2018-04-05 13:25] 3c7 opened #221 "MISPWarningLists Analyzer searches for hashes case sensitive"
`3395856CE81F2B7382DEE72602F798B642F14140` cannot be found, but it's the uppercase eicar.com sha1 hash.

[2018-04-06 05:49] 3c7 commented on #213
MISP short report changes :heavy_check_mark:

[2018-04-06 06:05] 3c7 commented on #189
Duplicate to #190 / #191

[2018-04-06 06:05] #189 closed

[2018-04-06 06:11] 3c7 commented on #177
How's the progress on this? Does the error persists?

[2018-04-06 09:41] srilumpa opened #223 "Hybrid Analysis returns success when filename query didn't work"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| OS version (client)       | N/A
| Cortex Analyzer Name      | Hybrid Analysis
| Cortex Analyzer Version   | 1.0,
| Cortex Version            | 1.1.4
| Browser type & version    | N/A

### Description
See TheHive-Project/TheHive#530 fo

[2018-04-06 12:26] nadouani opened #224 "Restrict abuse_finder dependencies to Python 2.7"
### Request Type
Bug

### Description
Abuse finder library is not available for python 3, so it should be restricted in the `requirements.txt`file of abuser finder analyzer

[2018-04-06 12:58] #224 closed

[2018-04-06 13:41] #188 closed

[2018-04-06 13:42] #221 closed

[2018-04-06 14:36] 3c7 commented on #216
Actually, querying Symantecs Sitereview is against their ToS. So, for now, I'll remove the analyzer. Fortinet can be used for website categorization anyway.

[2018-04-06 15:19] #208 closed

[2018-04-07 10:07] geekscrapy commented on #177
Hey, sorry, not been on this project for while. I'll be trying it again soon hopefully

[2018-04-08 14:48] jeromeleonard commented on #206
Hi. the program has been updated to use the up to date official domaintools lib. It also should work with python2 and python3; have a look at dependencies for your version in requirements.txt.  If you can, please tell us if it fixed your issue (only works with Cortex >= 2.0.0 ). If success, this version should be quickly in master branch.

[2018-04-09 12:30] nadouani opened #225 "Fix the default config of Cymon_Check_IP analyzer"
### Request Type
Bug

### Description
The JSON definition file of `Cymon_Check_IP` is still setting the check_tlp and max_tlp configurations. Those configs must be removed since they should be specified from the UI.

[2018-04-09 12:31] #225 closed

[2018-04-12 07:05] ninoseki opened #226 "URLhaus analyzer"
# URLhaus analyzer

### Request Type

Analyzer

### Work Environment

N/A

### Description

[URLhaus](https://urlhaus.abuse.ch/) is a malware distribution URL database from abuse.ch.

Adding an analyzer for URLhaus is a good move imo.

[2018-04-12 10:11] geekscrapy commented on #177
I've taken a look at this a little further and it appears that execution permissions are not given to cuckoosandbox_analyzer.py

[2018-04-12 10:47] geekscrapy commented on #177
Potentially related:
https://github.com/TheHive-Project/CortexDocs/issues/11
https://github.com/TheHive-Project/Cortex/issues/55

[2018-04-12 10:56] geekscrapy commented on #177
The following potentially solves the issue (in my scenario - however this still needs to be addressed in the main dist of docker):

root@e13d4e834b49:/opt/Cortex-Analyzers/analyzers/CuckooSandbox# pip install -r requirements.txt

[2018-04-12 11:06] geekscrapy opened #228 "Option to ignore SSL errors from analyzers"
Some internally hosted workers for analyzers (e.g. Cuckoo) may not have a valid certificate. Can an option be created to disable SSL verification on certain analyzers?

[2018-04-12 11:25] nadouani commented on #228
This could be made on the analyzers, one by one but needs development.

Please list the analyzers you want see with support of an option to disable SSL verification

[2018-04-12 16:10] robertnixon2003 opened #229 "CIRCLPassiveSSL_2_0 requires colons or dashes in hashes"
### Request Type
Bug

### Description
When using the CIRCLPassiveSSL analyzer it complains that the observable is not in the right format.

![image](https://user-images.githubusercontent.com/20773170/38689732-5a92d8d6-3e4a-11e8-8662-59459999c6a3.png)

[2018-04-12 19:02] geekscrapy commented on #228
Fair enough - initially I guess the self-hosted workers would be a priority:

1. CuckooSandbox
2. MISP
3. Yeti
4. Nessus
5. VMRay

But essentially all may need this if Cortex has to go through a corporate proxy?

[2018-04-13 07:27] 3c7 commented on #229
Hey @robertnixon2003,

the pypssl module returns an exception if there's no valid json returned by the server. This _can_ be the case, if the certificate hash could not be found, but also if the hash contains colons or dashes.

The error message is not clear to understand, I'll think of some possible distinction there.

[2018-04-13 07:33] 3c7 commented on #229
FYI: the return value from the server for the queried hash is `Incorrect format of the certificate fingerprint (expected SHA1 in hex format)`.

[2018-04-13 09:31] #223 closed

[2018-04-13 14:50] geekscrapy opened #230 "VirusTotal Analyzer requirements missing from docker image"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       |Linux 4.13.0-38-generic 43~16.04.1-Ubuntu SMP Wed Mar 14 17:48:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux - Docker
| OS version (client)       | Version 65.0.3325.181 (Official Build) Built on Ubuntu , running on Ubuntu 16.04 (64-bit)
| Cortex

[2018-04-13 14:52] nadouani commented on #230
Hello, 2.0.4 version has just been released, please try it, it's supposed to fix these issues too.

[2018-04-13 14:52] geekscrapy commented on #43
Issue reference created by mistake...

[2018-04-13 15:33] geekscrapy commented on #230
Brilliant! Think this was just bad timing then! Confirmed - all working

[2018-04-13 15:39] #230 closed

[2018-04-17 09:07] markus-nclose opened #231 "Grey Noise analyzer"
# GreyNoise analyzer

### Request Type
Analyzer

### Work Environment
N/A

### Description
[GreyNoise ](https://greynoise.io/)is a database that contains a list of IPs that is not malicious or potentially malicious. It is able to quickly tell you if an observable is safe or not.

A quote from their site:

At GreyNoise, we collect and analyze untargeted, widespread, and opportunistic scan and attac

[2018-04-18 10:11] LetMeR00t opened #232 "Censys analyzer : no uid given but the parameter is set"
### Request Type
Bug

### Work Environment
(replace with N/A if not applicable)

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Ubuntu
| OS version (client)       | Linux 4.13.0-38-generic #43~16.04.1-Ubuntu SMP Wed Mar 14 17:48:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
| Cortex Analyzer Name      | Censys
| Cortex Analyzer Version

[2018-04-18 12:49] nadouani opened #233 "Remove emerging threat wrong template files"
### Request Type
Bug

### Description
The latest report template archive it broken because of template files locate in a wrong location.
This has been introduced by https://github.com/TheHive-Project/Cortex-Analyzers/pull/108

[2018-04-18 12:49] #233 closed

[2018-04-18 12:49] #232 closed

[2018-04-23 09:14] 3c7 opened #237 "Add ip dataType to CERT.at Passive DNS analyzer"
CERT.at passive dns support ip, too. Will add it.

[2018-04-24 06:07] jeromeleonard opened #238 "Error in permalink in Cymon long report template"
[code]

should be :

[code]

[2018-05-02 11:57] 3c7 commented on #85
Old issue. PR was merged, but with an recent update it isn't possible to query the website anymore. Also, using the bluecoat categorization in an automated way violates the terms of use, so there won't be an update from our side.

[2018-05-02 11:57] #85 closed

[2018-05-02 12:04] #172 closed

[2018-05-02 14:16] robertnixon2003 opened #240 "New DomainTools API services requires new analyzer"
### Request Type

Feature

### Work Environment
N/A

### Description
We need a new analyzer for the new DomainTools Risk Score they have added to their subscription API. You get a Risk Score and a Proximity Score. Proximity is a guilty by association score.

Sample of date returned from MISP Domain Tools Module:

Domain searched: acexportm[.]com
[code]
Could be based off of them: https://github.co

[2018-05-03 20:10] jeromeleonard opened #241 "Yeti pyton lib fails to install for python_version > 2.7"
Yeti pyton lib fails to install for python_version > 2.7

### Possible solution

Update  Yeti requirements.txt

[2018-05-03 20:13] jeromeleonard commented on #241
Needed to build training VM ; cherry picked from develop f98d19b

[2018-05-03 20:13] #241 closed

[2018-05-03 20:47] #238 closed

[2018-05-11 12:19] remiallain opened #243 "New analyzer : Threatcrowd"
# New analyzer : Threatcrowd

### Request Type
Feature

### Work Environment
N/A

### Description
Add a new analyzer that request threatcrowd.org

### Complementary information
Actually a POC of the analyzer is working, only the `long.html` report remains to be finished

[2018-05-12 01:47] Hestat opened #245 "Yara no longer processing rules after cortex 2.0 update"
### Request Type
(select Bug, Analyzer or Feature and **remove this line**)
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Ubuntu 16.04
| OS version (client)       | Kali
| Cortex Analyzer Name      | Yara
| Cortex Analyzer Version   | 2.0
| Cortex Version            | 2.0
| Browser type & version    | I

[2018-05-14 22:34] geekscrapy opened #246 "Dockerising analyzers"
I heard a while back there may be thoughts of dockerising analyzers. Is this correct? Any idea on the status of this?

TIA!

[2018-05-15 06:27] 3c7 commented on #246
Hey @geekscrapy, it's in this PR #171, but atm, I don't have that much time for development. But I'm planning to continue and merge the PR.

[2018-05-17 13:00] mnmnc opened #248 "Improve error msg when VT Get Report does not have an entry for"
### Request Type
Bug

### Work Environment
| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | RedHat
| Cortex Analyzer Name      |VirusTotal
| Cortex Analyzer Version   | 3.0
| Cortex Version            | 2.0.4

### Description
IP added as observable. Type: ip
Added as 1.1.1.1, presented in UI as 1[.]1[.]1[.]1
I think VT analyser is tak

[2018-05-17 14:04] saadkadhi commented on #248
@mnmnc the problem might be on your side. I've just tested with 1.1.1.1 added as an observable and VT GetReport works like a charm. Also tried directly from Cortex 2.0.4 and everything works perfectly. Make sure you have no extra chars/space at the beginning/end of the IP addr.

<img width="398" alt="screen shot 2018-05-17 at 09 58 59" src="https://user-images.githubusercontent.com/2852427/4018232

[2018-05-17 14:05] mnmnc commented on #248
Ok. I will check everything on my side.
Here it looks like this at present:

![Fail](https://raw.githubusercontent.com/mnmnc/img/master/vt.png)

[2018-05-17 14:26] mnmnc commented on #248
Ok. I've tested on a bunch of IP addresses.
So apperently "Missing IP address" is a response in case VirusTotal does not have this IP in a database.  Which in my opinion is pretty misleading response.
If this can be clarified on a analyzer level ("VT does not have information about this IP") that would be great.
Currently It looks like a user fault of not providing IP address.

[2018-05-17 14:29] saadkadhi commented on #248
Thanks for testing further. Obviously it has 1.1.1.1 in its database that's why I could not reproduce the problem on my end per your initial issue description ;-).

[2018-05-21 14:58] garanews opened #249 "glom: Restructuring data, the Python way"
### Request Type
Thoughts on using the glom library for analyzers
![immagine](https://user-images.githubusercontent.com/16938405/40313824-fb2c81a8-5d16-11e8-8289-e67fc8509b04.png)

### Description
From https://sedimental.org/
Nested data is tricky though. Reaching into deeply structured data can get you some ugly errors. Consider this simple line:

`value = target.a['b']['c']`

That single line ca

[2018-05-22 08:52] garanews opened #250 "extend templates with external libraries"
### Description
For some data is useful to show it in a graph/chart/map.
Is it possible to have an example of code that explain how to integrate angular with external libraries like d3js?
For EmergingThreats template we use jquery to read back info from html but probably is better to interact directly with angular scope.
In this case we need to create linechart.
Thanks

[2018-05-22 12:36] nadouani commented on #250
This is a good idea, but is a TheHive concern. Could you please move this issue to TheHive's repo? Thanks

[2018-05-22 12:57] garanews commented on #250
https://github.com/TheHive-Project/TheHive/issues/588

[2018-05-22 12:57] #250 closed

[2018-05-22 14:16] dadokkio commented on #249
Our idea was to use it when you need to parse json responses coming from the various API.
In this way you don't need to check if an attribute or key is not defined in the json.

For example now we are doing things like:
    value1 = response.json().get('param1', {}).get('param2', None)

and probably with glom the same can be written in a clearer way.

[2018-05-23 14:51] nadouani commented on #249
We could make cortexutils depend on glom, and make wrappers for the main glom methods, into the `Analyzer` class, so the analyzers don't depend on glom

[2018-05-23 15:05] garanews commented on #249
I'm wondering why all analyzers are using your get_param just for get the config and not for parsing the json coming from the APIs. :wolf:

[2018-05-23 15:11] nadouani commented on #249
I think we could give `glom` a try, it looks good, well documented, tested and works with py2 and py3

[2018-05-24 15:14] garanews opened #251 "New analyzer: malwares.com"
### Request Type
 Analyzer

### Description
malwares.com API based on web is designed to link with various systems of customers so that customers can use cyber threat intelligence.
It is a programming interface to request a lot of analysis results inmalwares.com and search them.

You can enjoy a great deal of malicious codes data or related information quickly and efficiently.
You can get automati

[2018-05-24 15:20] garanews commented on #251
done https://github.com/TheHive-Project/Cortex-Analyzers/pull/252
![image](https://user-images.githubusercontent.com/16938405/40495016-7a5e28ee-5f76-11e8-8eb9-7bfeb5135c68.png)
![image](https://user-images.githubusercontent.com/16938405/40495034-83374b94-5f76-11e8-95dd-2db6aa36f22b.png)
![image](https://user-images.githubusercontent.com/16938405/40495045-8b25e9dc-5f76-11e8-8ebc-01357778f515.png)
!

[2018-05-24 17:43] gertz27 commented on #245
I ran into the same issue and the only workaround I found was to hard code the rule path into the Python file for the Yara analyzer yara_analyzer.py.

[2018-05-24 17:51] 3c7 commented on #245
Just to make sure: you've updated the analyzer config accordingly in the cortex ui? Just took a look at the code and cannot find a mistake on the first glance.

[2018-05-27 11:42] Hestat commented on #245
I have updated them in the UI in several different manners, and none seem to work EX:

"/usr/local/src/rules/Webshells_index.yar","/usr/local/src/lw-yara/lw-rules_index.yar","/usr/local/src/rules/malware_index.yar", "/usr/local/src/rules/Exploit-Kits_index.yar"

and just

/usr/local/src/rules/Webshells_index.yar

to see if one works.

[2018-05-28 06:03] 3c7 commented on #245
Confirmed, fix will be merged with Hotfix 1.9.7.

[2018-05-28 08:05] NFCERT opened #255 "New Analyzer: Mnemonic PDNS (Public & Closed)"
### Request Type
Analyzer

### Description
https://www.mnemonic.no/news/2015/mnemonic-offers-passive-dns-data-to-the-public/

Build support for Public and Closed analyzer's.

#### Public Analyzer
- Search in anonymized PDNS data

#### Closed Analyzer
- Search in own PDNS data

[2018-05-29 07:52] #245 closed

[2018-05-29 08:16] 3c7 commented on #220
Merged, see #222. Thanks for your contribution.

[2018-05-29 08:16] #220 closed

[2018-05-29 08:36] #226 closed

[2018-05-29 08:57] jezkerwin opened #257 "Install analyzers in Red Hat Enterprise 7"
Has anyone successfully installed the analyzers on RHEL 7?

I'm trying to get them working and I think the need for python 2 and 3 are causing issues.

Can rhey be installed using software collections (rhscl)?

[2018-05-29 09:11] #237 closed

[2018-05-29 11:38] 3c7 commented on #251
Merged, see #252.

[2018-05-29 11:38] #251 closed

[2018-05-29 12:45] ant1 opened #258 "Bug in EmergingThreats_MalwareInfo analyzer"
# Bug in EmergingThreats_MalwareInfo analyzer

### Request Type
Bug

### Description
When analyzing hashes,  EmergingThreats_MalwareInfo always fails with error ```Invalid data type !```

### Possible Solutions
Replace
```elif self.data_type == 'malware':```
with
```elif self.data_type == 'hash':```

[2018-05-30 11:07] stacsirt opened #261 "Phishtank checkURL fails"
Bug

### Work Environment
N/A

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| OS version (client)       | OSX
| Cortex Analyzer Name      | PhishTank_CheckURL
| Cortex Analyzer Version   | 2.1
| Cortex Version            | 2.0.4
| Browser type & version    | Firefox 60.0.1

### Description
When attempting to look up an URL

[2018-05-30 15:44] stacsirt opened #262 "Payloadsecurity"
Bug

N/A

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| OS version (client)       | OSX
| Cortex Analyzer Name      | Payloadsecurity (url or file) v1
| Cortex Analyzer Version   | 2.1
| Cortex Version            | 2.0.4
| Browser type & version    | Firefox 60.0.1

### Description
When submitting a URL or file through the

[2018-05-31 17:31] robertnixon2003 commented on #180
Working this one right now. Almost done.

[2018-06-01 13:05] NFCERT opened #264 "New Analyzer: SoltraEdge"
### Request Type
Analyzer

### Description

http://soltra.com/en/

[2018-06-01 13:16] NFCERT commented on #264
Referencing #265. Created SoltraEdge analyzer

Examples:

Added button "Show relations" button, which opens a modal and shows all related objects. (Illustrated in image below.)

![selection_070](https://user-images.githubusercontent.com/39690480/40842550-8a5e1720-65ae-11e8-8f3d-fa8f835934f2.png)

![selection_069](https://user-images.githubusercontent.com/39690480/40842556-8ebf5a18-65ae-11e8-8c01-3

[2018-06-03 08:28] jeromeleonard opened #267 "No short report in Hybrid-Analysis when there is no result"
### Request Type
display short report even if there is no result from Hybrid-analysis.

[2018-06-03 08:44] #267 closed

[2018-06-03 16:45] jeromeleonard commented on #262
Thanks you @stacsirt. Updating the analyzer with ```environmentId```.

[2018-06-03 16:49] #262 closed

[2018-06-03 16:52] #206 closed

[2018-06-03 17:05] jeromeleonard commented on #261
Hi,

can't reproduce the error on my side, everything works fine. Could you please confirm the error and give sample URLs please ?

Thanks.

[2018-06-04 08:35] stacsirt commented on #261
Interesting - thank you for checking. I have done some work on the install of python and it seems to work now. Feel free to close this as user error.

[2018-06-04 09:01] #258 closed

[2018-06-04 09:23] 3c7 commented on #180
Merged! Thanks for your contribution.

[2018-06-04 10:39] 3c7 opened #269 "Create GreyNoise analyzer template"
Reference: #236

[2018-06-04 13:31] 3c7 commented on #269
Template: check!

[2018-06-04 13:31] #269 closed

[2018-06-04 13:32] #231 closed

[2018-06-05 05:58] jeromeleonard opened #270 "Release 1.10.0"
Release 1.10.0 last bug fixes and improvements

[2018-06-05 06:20] 3c7 commented on #270
- [ ] Crt.sh analyzer name is `Crt_sh transparency logs query_1_0`.

[2018-06-05 09:49] #261 closed

[2018-06-06 09:17] #270 closed

[2018-06-06 09:21] jeromeleonard opened #272 "Wrong name for Staxx report template"
The analyzer name is StaxxSearch_1_0 not Staxx_1_0

[2018-06-06 11:58] jeromeleonard opened #273 "encoding problem in ThreatCrowd"

[2018-06-06 11:59] #273 closed

[2018-06-06 12:26] 3c7 commented on #212
:tada:

[2018-06-06 14:02] jezkerwin commented on #257
I'm going to close this, because I believe my particular issue is the default UMASK during analyzer install caused the issue.

[2018-06-06 14:02] #257 closed

[2018-06-06 15:58] robertnixon2003 opened #274 "Yara config for multi pathes is not parsing correctly in platform"
# EDIT THIS TITLE BEFORE POSTING. Use this template for bug reports. If you'd like to request a feature, please be as descriptive as possible and delete the template except the first section (Request Type)

### Request Type
Bug

### Work Environment
(replace with N/A if not applicable)

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       |

[2018-06-06 16:01] 3c7 commented on #274
This is due to a change in the Yara configuration items. It was not using the path item correctly, because it expected a list. Now cortex is pushing the available configuration in the list form. You just have to re-enter the path. (If you disable and re-enable the analyzer, you don't have to clear every list item)

Ref: #245

[2018-06-06 16:18] robertnixon2003 commented on #274
I tried to disable and re-enable. The config stated. Also it will not let me remove the items or add more in the global config or the individual one.

[2018-06-06 16:29] 3c7 commented on #274
That is quite strange. I had the same issue, but was able to just enter the correct path and could keep on using the analyzer. Need to think about that.

[2018-06-06 16:30] robertnixon2003 commented on #274
Where is the config path saved? ElasticSearch? Can I just manually delete that record?

[2018-06-06 16:51] robertnixon2003 commented on #274
I was able to do this to delete the config for the Yara analyzer and start over.
[code]

[2018-06-06 16:53] robertnixon2003 commented on #274
It was successful.

[2018-06-06 16:53] #274 closed

[2018-06-06 18:26] jeromeleonard opened #275 "Greynoise minireport does not give any info when there is no record in report"

[2018-06-06 18:28] #275 closed

[2018-06-06 20:52] 1k1mur4 opened #276 "New Analyzer: TrustedSource (McAfee)"
# New Analyzer: TrustedSource (McAfee)

### Request Type
Analyzer

### Description
https://www.trustedsource.org/

[2018-06-07 06:14] 3c7 commented on #274
Glad it worked and thanks for sharing your solution. I don't understand, why you weren't able to delete it in the UI.

[2018-06-07 20:34] jipidini opened #277 "Analyzer Issue : Abuse_Finder"
### Request Type
Analyzer

### Work Environment
N/A

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Ubuntu 16.04
| OS version (client)       | OSX
| Cortex Analyzer Name      | Abuse_Finder
| Cortex Analyzer Version   | 2.0
| Cortex Version            | 2.0.4
| Browser type & version    | Chrome

### Description
Submitting a job usi

[2018-06-07 21:12] saadkadhi commented on #277
Weird. I just did the same and it works perfectly:
<img width="222" alt="screen shot 2018-06-07 at 23 11 36" src="https://user-images.githubusercontent.com/2852427/41126549-2e563d14-6aa8-11e8-89a2-04bcc5ba93ba.png">
<img width="1294" alt="screen shot 2018-06-07 at 23 11 17" src="https://user-images.githubusercontent.com/2852427/41126551-31db14dc-6aa8-11e8-82f4-51dd2d6768f4.png">

[2018-06-08 06:08] crackytsi opened #278 "IBMXforce Analyzer forces TLP1"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| OS version (client)       | Seven
| Cortex Analyzer Name      | IBMXforce Analyzer
| Cortex Analyzer Version   | 2
| Cortex Version            | 3.0.10

### Description
IBMXForce analyzer forces TLP1

### Possible Solutions
Remove the

[2018-06-08 06:29] #278 closed

[2018-06-08 07:40] 3c7 opened #279 "Allow to set self signed certificates in VMRay analyzer"

[2018-06-08 09:21] #279 closed

[2018-06-08 10:40] 3c7 opened #280 "IBMXForce template name"

[2018-06-08 10:44] #280 closed

[2018-06-08 15:57] jeromeleonard opened #281 "FileInfo fixes"
Fix bugs in the new FileInfo analyzer before release.

[2018-06-08 18:16] iosonogio opened #282 "New Analyzer: hashdd"
New Analyzer for hashdd, to check for known good hashes

### Request Type
Analyzer

### Description
Working on a new analyzer to check hashes against the hashdd service https://www.hashdd.com/

[2018-06-08 19:05] jeromeleonard opened #283 "File encoding issue in Threatcrowd json file"

[2018-06-08 19:13] #283 closed

[2018-06-08 19:35] jipidini commented on #277
ok thanks! Weird indeed... I have built another instance on a different machine and get the same error:

[code]

<img width="516" alt="screen shot 2018-06-08 at 3 33 50 pm" src="https://user-images.githubusercontent.com/7275204/41177283-76d23802-6b31-11e8-96cf-db6f2012caab.png">

[2018-06-08 21:18] jeromeleonard commented on #7
Cortex 2.x provides Organizations and accounts dedicated configuration.thus, this allows different groups to specify their API keys.

[2018-06-08 21:18] #7 closed

[2018-06-08 21:22] jeromeleonard commented on #136
Future FileInfo analyzer will discard this issue

[2018-06-08 21:22] #136 closed

[2018-06-08 22:16] jeromeleonard commented on #277
Never got this message while running the analyzer. This seems to be related to a known issue in _ipwhois_ lib used by _abuse_finder_ library : [https://github.com/secynic/ipwhois/issues/203](https://github.com/secynic/ipwhois/issues/203) .

I also made some tests and managed to get the error sometimes.

[code]

[2018-06-09 07:54] jeromeleonard commented on #214
I was able to update the analyzer with Risk Evidence service and tested it.  I also added Reputation service, but was not able to test it due to some API access limitations.

[2018-06-11 12:43] 3c7 opened #286 "MISP analyzer certificate validation and name configuration"
Currently it's not possible to enable certificate validation without a cert passed as well as assigning a name to the MISP instance.

[2018-06-11 16:09] crackytsi opened #287 "ibm xforce analyzer "show-all" buttons don't work"
### Request Type
Bug

### Work Environment
(replace with N/A if not applicable)

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| OS version (client)       | Seven
| Cortex Analyzer Name      | IBM X-Force
| Cortex Analyzer Version   | 1.10.3

### Description
The "show all" buttons of the xforce analyzer does not work.

### S

[2018-06-12 07:08] #286 closed

[2018-06-12 11:38] iosonogio commented on #282
Regarding the max_tlp, does it suffice to configure it in the json or does it need to be enforced in the Anlayzer class? I assumed it was enough to have it in the json like this:

[code]

Since it wasn't being enforced apparently, I committed a "check_tlp: false" for the moment.

[2018-06-12 12:36] saadkadhi commented on #282
Hi @iosonogio,

The TLP must not be included in the JSON file anymore, since Cortex 2. The howto documentation is outdated. Sorry for that. Please take a look at the existing JSON files for reference. For example [https://github.com/TheHive-Project/Cortex-Analyzers/tree/master/analyzers/VirusTotal](https://github.com/TheHive-Project/Cortex-Analyzers/tree/master/analyzers/VirusTotal).

[2018-06-12 17:36] iosonogio commented on #282
Hi @saadkadhi , many thanks for clarification, I've just pushed my modifications  to be reviewed. Thank you and sorry about that.

[2018-06-13 21:21] francoisihry commented on #276
As TrustedSource does not provide any API, I managed to get a working TrustedSource analyzer using selenium (it's a trick to behave like a browser because using only the request lib got my IP blocked)

It's a crappy temporary solution until they hopefully provide an API, but if that interests you I will publish my code.

[2018-06-13 21:38] francoisihry opened #288 "Ofuscating an IOC signature before analyzing on VT"
Let's say your company received a suspicious file.

You need to analyze the file on VT but you don't want the attacker to know that you submitted a hash of its malicious file.

If the hash has never been analyzed on VT, it's easy for the attacker to figure out if you did it as VT let you know the last time that the file was analyzed.

Is there a way to "obfuscate" the file signature so that you ca

[2018-06-14 05:04] saadkadhi commented on #288
@francoisihry The VirusTotal analyzer has two flavors. `VirusTotal_GetReport` will simply query VT for the latest available report associated to a file. To do this, it does not send the file but its hash. If the file has never been analyzed, it will return 0 results. The attacker, unless they take over VT infrastructure or yours, will never know that you have asked for the report.

As you know the

[2018-06-14 05:04] #288 closed

[2018-06-14 05:16] saadkadhi commented on #276
Thank you @francoisihry for your proposal. You could make it available somewhere so interested parties may benefit from it and we'll gladly point to your repository, after making sure your code does not infringe the EULA (does McAfee allow users to scrap their website in an automated fashion for example?).

We tend to steer away from services / apps which don't offer an API unless it is of absolut

[2018-06-14 07:50] francoisihry commented on #276
Actually no, McAfee could block you if they detect that you use their service in an automated way as they explicitly say:
![screenshot from 2018-06-14 08-58-21](https://user-images.githubusercontent.com/10637903/41396511-78fa7606-6fb1-11e8-861b-b38546a38dfa.png)
So far I have not been blocked but like I said it's a short term solution until they provide an appropriate one.
I just published a scrip

[2018-06-18 18:40] #287 closed

[2018-06-18 19:24] 3c7 commented on #243
Already implemented in 1.10.0 by @remiallain.

[2018-06-18 19:24] #243 closed

[2018-06-23 15:07] jeromeleonard opened #290 "IBM X-Force and Abuse finder problems found in shorts and long report"
- [x] IBM XForce : In long report the Score is absent is not shown.
- [x] IBM XForce : Score not shown in short report in observables list
- [x] Abuse Finder : No short report when no result

[2018-06-23 15:47] jeromeleonard commented on #290
fix Abuse Finder short report with no result

[2018-06-23 15:47] #290 closed

[2018-06-25 01:55] aeetos commented on #214
Hi, Mark here from DomainTools. I was about to dive into writing some analyzers for this and was please to see work already progressing on it.

I'll happily provide API keys to anyone wanting to work on this, just contact me directly.

We have at present two different scoring technologies, offered in two different API endpoints. The first is at /v1/reputation/ and is based on proximity to known ba

[2018-06-26 11:42] 3c7 commented on #246
FYI: nearly finished. Need to wait for a fix in Cortex 2.

[2018-06-26 15:40] #212 closed

[2018-06-28 02:01] JusticeRage commented on #116
Hi! I'm Manalyze's original developer. Is there something I can do to help this happen? I would love to see the tool available in The Hive.

[2018-06-28 03:03] saadkadhi commented on #116
Ping @3c7

[2018-06-28 07:32] 3c7 commented on #116
The analyzer provided by @lctrcl looks fine. I'd prefer to let the user choose if using docker or the native binary. If using docker, I need to check if it works with the containerized analyzers in #171. I think it might be possible to implement a Manalyzer analyzer for Cortex-Analyzers 1.12.0.

[2018-07-03 12:48] jeromeleonard opened #291 "remove double quotes in short reports"
Some short reports contain double quotes in results. Remove these double quotes

[2018-07-04 05:59] jeromeleonard commented on #291
Related analywers :

- [ ] cifquery
- [ ] MISP
- [ ] WOT
- [ ] yara
- [ ] yeti
- [ ] dnsdb
- [ ] vmray
- [ ] PassiveTotal malware|osint|passive_dns|ssl_certificate_details|ssl_certificate_history|unique_resolutions|whois_details
- [ ] PhishingInitiative
- [ ] Cuckoo
- [ ] HybridAnalysis
- [ ] Phishtank
- [ ] Staxx
- [ ] Shodan
- [ ] Circl_passiveSSL
- [ ] Circl_PassiveDNS
- [ ] PayloadSecurity
- [

[2018-07-04 08:33] norgalades opened #292 "Malwares analyzer has wrong api URL"
### Request Type
Bug

### Work Environment
N/A

| Question              | Answer
|---------------------------|--------------------
| Cortex Analyzer Name      | Malwares
| Cortex Analyzer Version   | Latest version
| Cortex Version            |  2.0.4

### Description
Malwares analyzer has a wrong API URL. In malwares_api.py :

class Api():

   def __init__(self, api_key=None):
      self.base = '

[2018-07-04 14:27] remiallain opened #293 "New analyzer : Hunter.io"
### Request Type
Feature

### Work Environment
N/A

### Description
Add a new analyzer that request hunter.io for domain search. hunter.io is used to retrieve email addresses from a domain.

### Complementary information
None

[2018-07-05 07:53] srilumpa opened #295 "FortiGuard URL: taxonomy is too rigid"
### Request Type
Analyzer / Bug (Feature?)

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| OS version (client)       | N/A
| Cortex Analyzer Name      | Fortiguard_URL
| Cortex Analyzer Version   | 2.0
| Cortex Version            | 2.0.4
| Browser type & version    | N/A

### Description
When categoriz

[2018-07-05 14:57] 0xswitch opened #298 "New analyzer : Google Vision API"
Hi,

I just finished to develop a new analyser based on the [Google Cloud API Vision](https://cloud.google.com/vision/).

This analyser accept an image via an url or directly with the file and ask this API in order to get a list of website using this image and look alike image.

It can be usefull for data leak or to find phishing web site using known images.

Pull request #297

[2018-07-05 19:49] jeromeleonard commented on #214
will be released in 1.11.0

[2018-07-05 19:49] #214 closed

[2018-07-05 19:49] jeromeleonard commented on #281
will be released in 1.11.0

[2018-07-05 19:49] #281 closed

[2018-07-09 05:10] #292 closed

[2018-07-09 19:31] #291 closed

[2018-07-09 19:47] xme opened #299 "New analyzer: DShield"
Hello,

I just published a small analyzer to query information from the DShield IP reputation database.
https://blog.rootshell.be/2018/07/09/dshield-analyzer-cortex/
Feel free to have a look, maybe it could be interesting for you?

[2018-07-09 20:19] saadkadhi commented on #299
Hi @xme. Thanks for the analyzer. Please submit a PR.

[2018-07-10 07:29] xme commented on #299
Done!

[2018-07-10 07:29] #299 closed

[2018-07-10 16:59] iosonogio commented on #282
done, thank you :)

[2018-07-10 16:59] #282 closed

[2018-07-11 18:49] Brainfold opened #301 "disable"
# EDIT THIS TITLE BEFORE POSTING. Use this template for bug reports. If you'd like to request a feature, please be as descriptive as possible and delete the template except the first section (Request Type)

### Request Type
(select Bug, Analyzer or Feature and **remove this line**)
Bug / Analyzer / Feature

### Work Environment
(replace with N/A if not applicable)

| Question              | Answer

[2018-07-12 06:42] saadkadhi commented on #301
This issue is an unedited template.

[2018-07-12 06:42] #301 closed

[2018-07-12 06:43] saadkadhi commented on #277
@jeromeleonard should we close this one or are you still looking into it?

[2018-07-12 06:45] saadkadhi commented on #295
Thanks @srilumpa for raising this valid issue. @jeromeleonard or @3c7 will look into it when they have some time. However, we won't make the taxonomy adjustable before Cortex 2.2+. This feature is indeed important but it will need some serious work on our side.

[2018-07-12 06:46] saadkadhi commented on #240
@jeromeleonard I believe you worked on this already. Can you please update the labels & issue accordingly?

[2018-07-12 06:47] saadkadhi commented on #228
@geekscrapy Is the solution provided by @3c7 satisfactory? Can we go ahead and close this issue?

[2018-07-12 06:58] jeromeleonard commented on #240
yes, this is a duplicate with https://github.com/TheHive-Project/Cortex-Analyzers/issues/214

[2018-07-12 06:58] #240 closed

[2018-07-12 07:23] geekscrapy commented on #228
I haven't tried but I presume it wouldn't work for Dockerised analyzers and would require modification of the cortex docker file (appreciate this isn't hard to do)?

I think it would be best to have a dedicated SSL setting contained in the general analyzer settings?

[2018-07-12 09:24] shubhamblackstratus opened #302 "Analyzer Running Issues : Invalid Output error on Cortex GUI"
Got an error while running analyzer "FireHOLBlocklists_2_0" on Cortex.

OS version (server)       |  CentOS 7 (with python3.6.5)
Cortex Analyzers Names      | **FireHOLBlocklists_2_0**,  **TorBlutmagie_1_0**,  **TorProject_1_0**

## Description
I have configured reported analyzers in my server and found that while querying them for IP then they shows error as "Invalid Output".

I am beginner in py

[2018-07-12 09:54] shubhamblackstratus commented on #302
Guys, Issues related to "TorBlutmagie_1_0" and "TorProject_1_0" have been resolved after just changing python to python3 in analyzer.py config files.

But issue related FireHOLBlocklists_2_0 still persists. Kindly help.

[2018-07-12 12:11] 3c7 commented on #302
It seems like you added an URL as path to the blocklists, but you have to clone the blocklist repository (see https://blog.thehive-project.org/2017/05/22/vmray-firehol-joe-sandbox-fortiguard-analyzers/) and add the directory in the analyzer configuration in cortex.

The Tor_* analyzer errors are related to not having python3 installed or python3 binary not linked to `/usr/bin/python3`.

[2018-07-12 12:13] 3c7 opened #303 "New analyzer: Pulsedive"
Implement pulsedive.com analyzer for 1.12.0.

[2018-07-12 15:06] #277 closed

[2018-07-12 16:41] shehreyarahmedkohati opened #304 "Hipposcore Analyzer fails and Hippocampe feeds not retrieved"
### Request Type

Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Ubuntu.16.x
| OS version (client)       | MAC 10.12
| Cortex Analyzer Name      | Hippocampe
| Cortex Analyzer Version   | 2.0
| Cortex Version            | 2.0.4
| Browser type & version    | Chrome

### Description
I am running hipposcore a

[2018-07-12 17:39] jeromeleonard commented on #295
the pb resides in the analyzer. Need to select Fortiguard Categories (https://fortiguard.com/webfilter/categories)  and tell for everyone which is "suspicious", "malicious", "info" or "safe", and update the code with something like this:

[code]

Maybe there are other categories.

[2018-07-13 04:15] shubhamblackstratus commented on #302
Thank you so much for your prompt and valuable response. Have a great time ahead..! :)

[2018-07-13 07:13] shubhamblackstratus commented on #302
It gets worked... Thank you so much for this.

[2018-07-13 07:20] 3c7 commented on #302
You're welcome

[2018-07-13 07:20] #302 closed

[2018-07-16 09:40] srilumpa commented on #295
I have submitted the PR #296 which implement the logic your are describing, but basing the malicious and suspicious categories on two multi-values fields in the configuration of the analyzer.

[2018-07-16 16:02] jeromeleonard commented on #295
thank you @srilumpa, will look at it.

[2018-07-17 14:11] 0xswitch opened #306 "New analyzer : Google DNS over HTTPS"
Hi,

I just finished to develop a new analyser based on the Google DNS resolver over HTTPS

This analyzer accepts ip, domain and fqdn observable and return the different associated provided by this google service.

There are already analyzer who provides DNS records however this one is free and doesn't need an api key. Moreover it can be used behind a corporate proxy which allow only http and http

[2018-07-17 18:00] saadkadhi commented on #304
@ninSmith can you please look at this one as time permits? Thanks!

[2018-07-18 18:37] shubhamblackstratus opened #307 "Could not get Yeti analyzer worked in cortex"
I have installed Cortex and Yeti in my single machine and both are worked properly while calling from browsers. But while configuring and running Yeti through cortex analyzers, I got the below error :

**Service unavailable, please check if Yeti server is running**.

Find the snaps for errors.

![2](https://user-images.githubusercontent.com/25363342/42900840-90b5987e-8ae7-11e8-9a09-e92a579c3a93.jp

[2018-07-18 19:11] shubhamblackstratus commented on #307
Error is Chaned now, after installing django...

requests.exceptions.ConnectionError: HTTPConnectionPool(host='127.0.0.1', port=5000): Max retries exceeded with url: /api/observablesearch/ (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fa95b88cb10>: Failed to establish a new connection: [Errno 111] Connection refused',))

[2018-07-19 17:03] shubhamblackstratus commented on #307
Hi Team,

Can you please help me asap....?

Thanks...

Shubham

[2018-07-20 07:48] jeromeleonard commented on #307
Could you please ensure that you are looking for is really in Yeti database ? It seems that this error is also received when the response from Yeti is empty ?

Thanks

[2018-07-20 07:58] shubhamblackstratus commented on #307
I have gone through docs to integrate Yeti with Cortex and as per my understanding, one needs to make Yeti instance perfectly run in the same machine in which Cortex is installed.

I have made both running smoothly in the same machine but due to lake of python knowledge I could not recognize an error.

Even I could not get anything except the reported log.

I wanted to configure Yeti as an analyze

[2018-07-20 08:01] shubhamblackstratus commented on #307
It could be understood that it might be some response problem from Yeti but it gets worked while opening from localhost. See snap.

I have gone through docs to integrate Yeti with Cortex and as per my understanding, one needs to make Yeti instance perfectly run in the same machine in which Cortex is installed. So I have made both running smoothly in the same machine but due to low python knowledge

[2018-07-20 08:16] srilumpa opened #308 "[URLhaus] Change of format from URLhaus"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| Cortex Analyzer Name      | URLhaus
| Cortex Analyzer Version   | 1.0
| Cortex Version            | 2.0.4

### Description
URLhaus analyzer fails to extract the data from the page queried when analyzing an URL. This is probably due to

[2018-07-20 08:32] 3c7 commented on #308
Hey @ninoseki, do you want to implement the changes as it's "your" analyzer? :)

[2018-07-20 08:34] jeromeleonard commented on #307
try :
1. add an observable in Yeti
2. Run Yeti analyzer in Cortex or TheHive to look for this observable

This should work.

[2018-07-20 08:47] ninoseki commented on #308
@3c7 Thank you for letting me know.  :+1:
OK, I'll work on this issue.

[2018-07-20 18:38] yasty opened #309 "New Analyzer: Investigate"
### Request Type
Analyzer

### Work Environment
N/A

### Description
Hey guys, I work on Cisco Umbrella's security research team. I've written an analyzer for our [Investigate](https://investigate.umbrella.com/) service to check the security and content categorizations for domains and FQDNs, and to lookup sample hashes in our ThreatGrid database.

[2018-07-20 18:39] yasty commented on #309
PR: #310

[2018-07-21 08:00] ninoseki commented on #308
@srilumpa I confirmed that the DOM structure of URLhaus website is same as before and the analyzer works correctly.
![Imgur](https://i.imgur.com/r5g5P9t.png)
So could you tell me the URL you tried to analyze?
(For debugging purpose)

[2018-07-21 23:16] Hestat opened #311 "ClamAV New analyzer"
### Request Type
Analyzer

ClamAV has become a very useful open source AV and general purpose scanner. I find it most useful in being able to parse Yara rules and the inclusion of sigtool to create your own Clam rule sets.

While I run this locally on many linux servers with my own script. I often have new samples that are not in my existing rules, I've wanted a way to be able to ingest my rules i

[2018-07-23 07:55] srilumpa commented on #308
Sorry, I should have started by this.

A few URL as examples:
* hxxp://tckkitchen[.]com:80/bst/tasks[.]php
* hxxp://redirector[.]gvt1[.]com:80/edgedl/release2/chrome/A84nRG1q1w8_67[.]0[.]3396[.]99/67[.]0[.]3396[.]99_chrome_installer[.]exe
* hxxp://cacerts[.]digicert[.]com:80/DigiCertSHA2HighAssuranceServerCA[.]crt

May be this was only temporary (some sort of service outage): I don't see any error

[2018-07-23 08:32] Rolinh commented on #308
Look no further, URLHaus had issues last Friday.

[2018-07-23 09:57] srilumpa commented on #308
Sorry for the false alert, then

[2018-07-23 09:57] #308 closed

[2018-07-24 12:15] shehreyarahmedkohati commented on #304
??
@ninSmith @saadkadhi

[2018-07-26 14:19] sevdog opened #313 "Wrong File handling in OTXQuery Analyzer"
Wrong File handling in OTXQuery Analyzer

### Request Type
Bug

### Work Environment
N/A

### Description
In OTXQuery `otxquery` module the file is mishandled during hash calculation, this may cause various problems:
[code]
Problems are:

1. file handler is never closed
2. for hash calculation open mode should be _binary_ (`rb`)
3. if the file is big this operation will be very slow and will use a

[2018-07-27 08:35] j-i-m-b-o opened #315 "New Analyser: Strings"
### Request Type
 Analyzer

### Description
I have submitted a PR here #314 for a strings analyser I use within my organisation. The analyser takes an observable of type file and extracts any printable strings. While I appreciate this is quite a simple analyser I have personally found it a useful first step when dealing with various unknown files.

[2018-07-30 15:01] nadouani opened #316 "Add support to responders in cortexutils"
### Request Type
Feature

### Description
`cortexutils` library provides a utility class for writing analyzers. The goal of this task is to provide an equivalent class to help writing responders.

[2018-08-01 14:24] amr-cossi opened #318 "Add support for query parameters in DNSDB"
### Request Type
Feature

### Description
DNSDB API accepts several parameters (rrtype, bailiwick, before, after). This feature plans to add support for these parameters in Cortex analyzer.

[2018-08-01 14:50] amr-cossi opened #320 "Update DomainTools analyzer with new flavors"
### Request Type
Feature

### Description
DomainTools analyzer is missing a few API calls :
- hosting-history
- reverse-ip-whois
- whois/parsed for datatype ip
- whois for datatype domain

This feature adds two flavors HostingHistory and ReverseIPWhois and changes flavors for whois lookups : one flavor for parsed queries (domain and ip) and one flavor for unparsed queries (domain and ip)

It break

[2018-08-01 15:44] amr-cossi opened #322 "Encoding error in Shodan results"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Ubuntu
| OS version (client)       | 16.04
| Cortex Analyzer Name      | Shodan_Host
| Cortex Analyzer Version   | 1.0
| Cortex Version            | 2.0.4-1
| Browser type & version    | N/A

### Description
If a scan result contains foreign c

[2018-08-01 15:53] srilumpa opened #323 "HybridAnalysis analyzer does not properly handle filenames on some cases"
### Request Type
Bug

### Work Environment
(replace with N/A if not applicable)

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| Cortex Analyzer Name      | HybridAnalysis
| Cortex Analyzer Version   | 1.0
| Cortex Version            | 2.0.4

### Description
This is a follow up of TheHive-Project/TheHive#530.

On some cases,

[2018-08-01 16:17] amr-cossi opened #324 "Add new flavors in Onyphe analyzer"
### Request Type
Feature

### Description
This feature implements "datascan" and "inetnum" queries allowed by Onyphe API.

[2018-08-01 16:57] amr-cossi opened #327 "Revamp Shodan analyzer"
### Request Type
Feature

### Description
Several API calls are mixed in current Shodan analyzer and several others are not implemented.
With this features, the following flavors will be available :
- Shodan_Host: returns only host infos and no DNS resolutions
- Shodan_Host_History: same as Shodan_Host but with historic results. Could be handle with a parameter instead of a new flavor.
- Shodan_Se

[2018-08-03 12:46] srilumpa commented on #323
In fact, it seems more generic than that. Example below:

[code]

[2018-08-03 16:18] 3c7 commented on #323
Will look into it, but right now it's too hot to do anything. :D

[2018-08-05 04:25] ninoseki opened #329 "PassiveTotal_Passive_Dns_2_0 ordering issue"
### Request Type

Bug(?)

### Description

PassiveTotal_Passive_Dns_2_0 ordering issue

`PassiveTotal_Passive_Dns_2_0` is a good analyzer but there is a point could be improved IMHO.
The point is ordering in the template.
The current template shows records with without no specific ordering.

**Current template report**
![Imgur](https://i.imgur.com/jRJBCfB.png)

### Possible Solutions

It would be

[2018-08-07 13:50] gekkeharry13 commented on #147
Hello. Just a small update. I am almost finished building an analyzer for IBM QRadar. I am probably allowed to upload it as well, so after everything is properly tested, I will post more info.

[2018-08-07 15:26] jordisk opened #331 "Cortex Responder - Invalid Output"
# Cortex Responder - Invalid Output

I'm trying to write a simple responder using the latest version of cortex (2.1.0-RC1
Based on Mailer responder, I wrote the following code:

[code]

And Json file has the following code:
[code]

New responder is detected by cortex and I've setup the url and api key, but when running the responder in case on The Hive, it fails.

Here the info From the cortex Job

[2018-08-14 06:07] 3c7 opened #332 "Fix issues with VMRay analyzer"
Currently, file uploads are not working.

[2018-08-15 15:55] crackytsi commented on #331
Has the python script the executable flag set?

[2018-08-15 16:48] 3c7 commented on #331
Think you have to add a shebang, e.g.:
#!/usr/bin/env python3

[2018-08-16 07:37] 3c7 commented on #116
Currently in the process of integrating manalyze as FileInfo submodule.

[2018-08-16 21:10] jordisk commented on #331
Yes, the script has a executable flag set. Updated the initial post with full code (just added the first two lines)
[code]

Also, I've tested with python3 and python (2) and I got the same error.

[2018-08-17 06:37] 3c7 commented on #331
Is there any responder related output in the cortex log?

[2018-08-17 09:11] jordisk commented on #331
There is only one log related and its info (2nd line)

[code]

[2018-08-21 07:45] saadkadhi commented on #331
@To-om can you please help @jordisk? Thanks!

[2018-08-21 07:50] crackytsi commented on #331
@jordisk is owner set to cortex:cortex?

[2018-08-21 09:35] jordisk commented on #331
Hi @crackytsi yes it was owned by root. I have to say I'm using the training VM. I've changed the owner of the responder to cortex:cortex and still getting same error.
After changing permisions to 777 I'm getting a new error...

[code]

After removing and installing again cortexutil It finally works.

Many thanks for your help!

[2018-08-21 13:26] ErnHem commented on #331
Hi All,
I had the same problem. After the launch of the Responder I received "Invalid Output", but after I changed rights of the Responder's folder everything work. Thanks.

[2018-08-22 18:40] crackytsi opened #335 "MISP Analysis failes"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| OS version (client)       | Seven
| Cortex Analyzer Name      | MISP2_0
| Cortex Analyzer Version   | latest.
| Cortex Version            | 2.1

### Description
MISP Analysis failes via Cortex but works locally:
[code]

But using cort

[2018-08-22 18:42] 3c7 commented on #335
Can you confirm you've entered a name for the MISP instance?

[2018-08-23 05:11] crackytsi commented on #335
Thanks @3c7, indeed I forgot to add the Name.
Shouldn't this field here be a required one?

[2018-08-23 05:26] 3c7 commented on #335
Okay. So please, set a name. In the mean time I'll take a look at the code. Generally, name will be a requirement if you want to name only one server if you have multiple ones, because you need to process a list of names and therefore don't know which of the server is unnamed and which one not.

Maybe I end up enforcing the name param. ;)

[2018-08-23 18:37] axpatito commented on #335
I had this issue too. I think name need to be enforced.

[2018-08-24 15:16] crackytsi commented on #335
certpath should also be enforced as far as I understand the code...

[2018-08-24 16:27] 3c7 commented on #335
No, certpath is only used, if your MISPs certificate was not signed by a trusted CA. Hope I have time this weekend to look into a few issues.

[2018-08-30 10:30] vfidalgo opened #336 "Cortex-analyzer deb package?"
### Request Type
 Feature

### Work Environment
(replace with N/A if not applicable)

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| OS version (client)       | Strech
| Cortex Analyzer Name      | N/A
| Cortex Analyzer Version   |  N/A
| Cortex Version            | 2.0.4
| Browser type & version    | If applicable

### Des

[2018-08-30 12:08] nadouani commented on #336
Hello,  I don't think this can make sense to have deb packages for analyzers, but we plan to dockerize them to get rid of all the dependencies issues.

That said, what pip issues do you encounter? I could be related to your pip installation or permissions etc...

[2018-08-30 12:16] vfidalgo commented on #336
I have problems with cortex analyzers in the configuration, this analyzer not appear when enter how orgadmin, follow the issue https://github.com/TheHive-Project/Cortex/issues/88 and not resolved then.

I think is by the pip dependencies installation but i not sure, my application.conf is

'''analyzer {
  # Absolute path where you have pulled the Cortex-Analyzers repository.
  path = ["/opt/cortex

[2018-08-30 12:19] nadouani commented on #336
Honestly installing analyzer is really straight forward, you just need to follow the [Quick Guide](https://github.com/TheHive-Project/CortexDocs/blob/master/admin/quick-start.md)

If you have configuration issues etc... please lets discuss it on Gitter, so all the community can help.

[2018-08-30 12:19] #336 closed

[2018-08-31 00:28] ninoseki commented on #131
Hi all, I've created a yet another urlscan.io analyzer.
https://github.com/ninoseki/cortex_urlscan_analyzer
It doesn't make a scan request, just only makes a search by ip, domain, hash or url.
(Because in my use case, I don't want to make a scan via the analyzer)

How is this?

[2018-08-31 13:00] garanews commented on #309
Hello,
we were working on the same functionality without using the investigate  library.
Do you consider your PR a "work in progress" where in the future you will add the search for IP and or will expand the search capabilities? For example about the domains search we are doing more than 1 query:
            domain_cat = self._session.get('%s/domains/categorization/%s?showLabels' % (self.url, data

[2018-09-03 07:00] 3c7 commented on #116
Finished and tested in #333 and ready for review/merge

[2018-09-03 10:55] 3c7 commented on #303
WIP: https://github.com/TheHive-Project/Cortex-Analyzers/tree/feature/pulsedive

[2018-09-03 13:57] 3c7 commented on #303
![screenshot from 2018-09-03 15-54-15](https://user-images.githubusercontent.com/2846609/44990661-0348f880-af92-11e8-8504-debfddbd3686.png)
![screenshot from 2018-09-03 15-53-48](https://user-images.githubusercontent.com/2846609/44990668-0a700680-af92-11e8-9ab3-bd650495b279.png)

[2018-09-03 14:46] #295 closed

[2018-09-03 16:18] #293 closed

[2018-09-03 16:46] 3c7 commented on #303
Merged into develop.

[2018-09-03 16:46] #303 closed

[2018-09-04 19:48] robertnixon2003 commented on #335
I am having the same issue.

[2018-09-05 05:08] 3c7 commented on #335
@robertnixon2003 How many MISP instances have you added to the analyzers config? Have you entered names for them?

[2018-09-05 14:15] robertnixon2003 opened #338 "DomainTools Analyzer Risk is broken. Gives authentication errors"
From Cortex I receive this error: Researching onln[.]us:
[code]

From command line I get:

[code]

[2018-09-06 13:36] robertnixon2003 commented on #338
This was an issue on the DomainTools side. They fixed it.

[2018-09-06 13:36] #338 closed

[2018-09-06 19:25] jeromeleonard opened #339 "Whois History has no mini report"
Create a mini report for FT Whois Analyzer

[2018-09-06 19:32] jeromeleonard opened #340 "Wrong template in C1fApp analyzer short report"

[2018-09-06 19:50] #340 closed

[2018-09-07 05:03] jeromeleonard opened #341 "Fix code in Domaintools analyzer"

[2018-09-07 05:05] #341 closed

[2018-09-12 11:39] 3c7 commented on #335
The error occurs, if name is empty, because Cortex passes an empty list instead of `None` or similar.

[2018-09-12 11:43] #335 closed

[2018-09-12 12:35] crackytsi commented on #335
@3c7 Why don't we set Name as a required field in json definiton? I don't understand that...

[2018-09-12 14:47] Amidala95 opened #343 "Cortex Responder - "thehive:log" datatype"
TheHive does not recognize "thehive:log" datatype. For testing I wrote exactly the same code as [there](https://github.com/TheHive-Project/Cortex-Analyzers/issues/331) (thanks jordisk), but without success.

Some lines of code are different.
Json file:
[code]

The code:
[code]
Responder is detected by cortex. Works well with other datatypes.

What am I doing wrong?

[2018-09-12 14:55] nadouani commented on #343
Hello, please use the `thehive:case_task_log` instead.

[2018-09-12 14:55] #343 closed

[2018-09-13 08:29] Amidala95 commented on #343
@nadouani, thank you for quick answer!

[2018-09-14 16:57] #339 closed

[2018-09-17 09:52] #116 closed

[2018-09-19 09:34] jeromeleonard opened #344 "Wrong datatype in artifact() in DShield analyzer"
To build the list of observables allowed to be imported from report, datatype "email" has been set instead of "mail".

[2018-09-19 11:06] #344 closed

[2018-09-19 14:03] robertnixon2003 opened #345 "Fortigard Report Template needs to be updated with new reclassification url"
Fortigard submission to request reclassification goes to a 404.

The newest url is https://fortiguard.com/faq/wfratingsubmit?url=<data>

[2018-09-26 14:43] megan201296 commented on #345
Submitted PR #346 to fix this.

[2018-10-01 14:44] scrublullz opened #349 "CERTatPassiveDNS_2_0 Invalid File for WHOIS.sh"
### Request Type
Bug

### Description
When executing a query using CERTatPassiveDNS, the response comes back with an error:
`FileNotFoundError: [Errno 2] No such file or directory: './whois.sh': './whois.sh'`

### Possible Solutions
Submitted the following commit to pull the current file path of `whois_wrapper.py` in order to define the full path of `whois.sh`

https://github.com/TheHive-Project/C

[2018-10-03 13:13] garanews opened #350 "Analyzers: domain vs fqdn"
### Request Type
Question

### Description
Analyzing attributes with datatype "hostname" and "domain" in MISP:

**domain**
Page 1 of 1615, showing 60 records out of 96849 total, starting on record 1, ending on 60
![image](https://user-images.githubusercontent.com/16938405/46411811-03691f00-c71d-11e8-9e8d-7acf1a3f8406.png)

**hostname**
Page 1 of 1393, showing 60 records out of 83522 total, startin

[2018-10-03 17:57] geekscrapy commented on #177
I believe this can be closed as the requirements.txt install fixed it

[2018-10-03 17:57] #177 closed

[2018-10-03 18:02] geekscrapy commented on #55
Has there been any dev done on this? What kind of results are required? Binary associated with the query?

Are you able to share the requirement a little more? Is this to search across multiple instances?

[2018-10-09 16:17] ghuser0234 opened #352 "eml_parser Unexpected Error: list index out of range"
### Request Type

Bug

### Description
eml_parser Unexpected Error: list index out of range

I'm using eml_parser with TheHive project and all analysis fails with
`Unexpected Error: list index out of range`
I'm not sure where else to find any other logging or info to troubleshoot this. I think there may be an issue with the different versions EmlParser & eml_parser.

[2018-10-10 09:01] ninSmith commented on #352
Does it fail with one and only eml ?

[2018-10-10 17:48] ghuser0234 commented on #352
I guess i'm not sure what you mean? I've only tried to add one file at a time in .eml format to the analyzer and always same results.
I go to Cortex > Analyzers > EMLParser_1_0 > Run > add a file (email in .eml format) > click Start. Here are a couple of the analyzer job reports:

`{
  "errorMessage": "Unexpected Error: list index out of range",
  "input": "{\"pap\":2,\"message\":\"\",\"contentTyp

[2018-10-10 20:11] ninSmith commented on #352
Sorry for the misunderstanding.

Did you try with other eml file or only with testmessage.eml ?

[2018-10-10 20:13] ghuser0234 commented on #352
No worries! I've tried it with probably 10 different messages

[2018-10-11 13:06] mlodic opened #353 "AbuseIPDB analyzer creation"
### Request Type
Analyzer

### Description
AbuseIPDB analyzer to determine whether an IP was reported or not as malicious by AbuseIPDB -> https://www.abuseipdb.com/

### Possible Solutions
I'm working on the creation of the analyzer

[2018-10-15 20:12] Tux-Panik opened #354 "Yara analyzer: 'can't open include file'"
### Request Type
Bug / Support

### Work Environment
(replace with N/A if not applicable)

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Docker (on CentOS)
| OS version (client)       | 7
| Cortex Analyzer Name      | Yara
| Cortex Analyzer Version   | Current (e3b618cbc15d196c2385e3e33a5f356b45bb0796)
| Cortex Version            |

[2018-10-16 07:54] 3c7 commented on #354
Need to take a look on it. You can replace the relative paths in the `MALW_AZORULT.yar` with absolute paths, though, that should fix it.

[2018-10-16 09:55] jeromeleonard commented on #309
see comment in #310

[2018-10-16 09:55] #309 closed

[2018-10-16 13:50] megan201296 commented on #352
@ninSmith I can confirm I am having the same issue with multiple .eml files.

[2018-10-16 14:13] ninSmith commented on #352
Unfortunately I can't reproduce the bug.
Would one of you be able to share an eml file where the analysis fails ?
If so, please forward it to support[@]thehive-project.org and I'll try to debug that.

Thanks,

[2018-10-17 07:48] 3c7 commented on #55
Hey @mack7121, are there any news regarding the CB analyzer? :)

[2018-10-17 08:00] 3c7 opened #355 "Enhance the artifact extraction"
Currently artifacts are extracted using the cortexutils.Extractor class or not at all. The available cortexutils class was created in order to provide a simple approach to extract observables from full-text analyzer results, but is not capable of doing it the right way for every scenario as it just uses regex pattern matching.
A good enhancement would be overwriting the `artifacts` function in the

[2018-10-17 08:05] 3c7 commented on #102
Thank you @jojoob.

[2018-10-17 08:05] #102 closed

[2018-10-17 08:28] 3c7 commented on #117
Thanks @typonino!

[2018-10-17 08:28] #117 closed

[2018-10-17 08:43] 3c7 commented on #131
Merged @ninoseki's PR.

[2018-10-17 08:43] #131 closed

[2018-10-17 08:45] 3c7 commented on #145
Bluecoat was acquired by Symantec - is this still relevant @orbital-github-user?

[2018-10-17 08:56] Tux-Panik commented on #354
Hi, thanks for your feedback.
You are right, and I already did it in all '_index.yar' files, by replacing "./" by "/opt/Cortex-Analyzers/analyzers/rules/" but I missed the simply "index.yar" :-(

Now it works, and people can use the following command line:
`find /full/path/to/analyzers/Yara/rules/ -type f -iname "*index*.yar" -exec sed -i 's/\.\//\/opt\/Cortex-Analyzers\/analyzers\/Yara\/rules\//g

[2018-10-17 08:56] #354 closed

[2018-10-17 08:59] 3c7 commented on #329
Merged, thanks @ninoseki !

[2018-10-17 08:59] #329 closed

[2018-10-17 09:28] 3c7 commented on #354
I found the yara-rules repository to be a mess, but maybe it's just me. Using the repository by florian roth often:
https://github.com/Neo23x0/signature-base

[2018-10-17 09:45] Tux-Panik commented on #354
I believe these repository has some fields/variables unsupported by someYara engines:
https://github.com/viper-framework/viper/issues/545

[2018-10-17 10:20] 3c7 opened #356 "Force python3 for MISP-Analyzer"
Ref: https://github.com/TheHive-Project/Cortex/issues/149
Changing the shebang to use `python3` as interpreter.

[2018-10-17 10:21] #356 closed, assigned to nobody

[2018-10-17 13:28] 3c7 commented on #197
Already merged. Thanks again, @srilumpa.

[2018-10-17 13:28] #197 closed

[2018-10-17 13:31] 3c7 commented on #198
I'll close this for now. The automatic extraction should be the one to use, if you've no idea of how to extract your observables properly and the behaviour can always be changed through overwriting the `artifacts` function. Maybe we need to add this to the "How to create an analyzer" manual.

[2018-10-17 13:31] #198 closed

[2018-10-17 15:16] Tux-Panik commented on #354
I tested the one of @Neo23x0 and it fails:
[code]

So, I renamed all "_filename_" to "f_ile_name_" and I reached the same error:
[code]
Regards,

[2018-10-17 16:53] Neo23x0 commented on #354
README says read me 😄

![screenshot 2018-10-17 at 18 52 57](https://user-images.githubusercontent.com/2851492/47102786-e7e23600-d23d-11e8-81d0-6be239d6514c.png)

[2018-10-17 17:36] Tux-Panik commented on #354
You are absolutely right.
I guess this section is new, perhaps following the issue I mentioned above.

I also enjoy your reactivity :-)
Feedback expected tomorrow

Regards,
Julien

Le mer. 17 oct. 2018 à 18:53, Florian Roth <notifications@github.com> a
écrit :

[2018-10-18 09:08] Tux-Panik commented on #354
Confirmed. It works like a charm...
As mentioned in the Cortex documentation, it is mandatory to create manually an "index.yar" file who contains all the rule files:
[code]
Thanks guys,
Regards,
Julien

[2018-10-18 09:30] schoad opened #357 "Joe Sandbox Analyzer returning error with Joe Sandbox Cloud Pro"
Joe Sandbox Analyzer not working.

### Request Type
Analyzer

### Work Environment
N/A

### Description
Joe Sandbox Analyzer not working with Joe Sandbox Cloud Pro.

### Possible Solutions
Already tried to modifiy the joesandbox_analyzer.py (systems parameter changed from null to auto or w10x64_1803).
Same error.

### Complementary information
1. Using the latest TrainingVM (October 14th)
2. Defau

[2018-10-18 11:59] saadkadhi commented on #357
@schoad you must not point it to the API endpoint but to the service URL as requested by the analyzer:
<img width="885" alt="screenshot_2018-10-18_at_13_57_41" src="https://user-images.githubusercontent.com/2852427/47152778-ed8f5880-d2dd-11e8-9b2a-6dea1f123114.png">

[2018-10-18 11:59] #357 closed

[2018-10-18 13:23] garatc opened #359 "Virusshare analyzer: suggesting another way to retrieve hash file names"
https://github.com/TheHive-Project/Cortex-Analyzers/blob/fd12ec8e9eb2aba1e4eb0280edd94e8118976e11/analyzers/Virusshare/getHashes.sh#L24

This line doesn't work for me.
I had to replace it with
for u in `curl https://virusshare.com/hashes.4n6 | grep -E "VirusShare_[0-9]{5}\.md5" | cut -c17-36`

[2018-10-19 10:01] #331 closed

[2018-10-19 10:04] #316 closed

[2018-10-21 05:54] jeromeleonard opened #360 "Add RTF support in FileInfo"

[2018-10-21 09:47] jeromeleonard commented on #306
see #305

[2018-10-21 09:47] #306 closed

[2018-10-21 09:47] #307 closed

[2018-10-21 10:05] jeromeleonard commented on #324
Hello,

thx for these new flavors.

[2018-10-21 10:05] #324 closed

[2018-10-21 10:15] jeromeleonard commented on #248
Hi,

in fact, this is the message that is returned by VirusTotal API when IP is not in the database.

[2018-10-21 16:06] 3c7 commented on #248
Fixed with 8392531.

[2018-10-21 16:06] #248 closed

[2018-10-22 06:09] jeromeleonard opened #361 "Force python3 in all analyzers"
Review all analyzer and make them working with python3 (at leat, try to :)  )

List of analyzers that might be reviewed :

- [x] Abuse_Finder
- [x] StopForumSpam
- [x] MaxMind
- [x] Virustotal

### Doc

- [ ] Update "How to create an analyzer"

**To be completed**

[2018-10-22 11:45] 3c7 opened #362 "Fixes file not found issue and empty result set in CERT.at passive dns analyzer"
- Makes sure to use the fullpath for calling whois.sh
- Catches empty result set (`returning 0 elements`/`no match`)

[2018-10-22 13:02] #362 closed

[2018-10-23 06:38] #360 closed

[2018-10-23 07:49] 3c7 commented on #323
Sorry, I forgot about this. :/ Fixed now.

[2018-10-23 07:49] #323 closed

[2018-10-24 04:16] jezkerwin opened #363 "OTXQuery_2_0 Error when submitting IP address"
When running the OTXQuery_2_0 analyser on an IP address, I'm getting the following error.

  "errorMessage": "API Error! Please verify data type is correct.",

I run the same IP address through the VirusTotal analyser and that works fine. I'm running through a proxy server but the VirusTotal analyser works.
No other information is being returned.

[2018-11-01 16:54] 3c7 opened #366 "Proofpoint analyzer definition missing the configuration objects"

[2018-11-01 17:03] #366 closed

[2018-11-05 11:17] Idriel opened #369 "FileInfo 5.0 Dockerized .exe analysis"
Hi,

Anyone else have issues with FileInfo 5.0

It's analyzing documents well but when I try .exe (tht will go to manalyze - i pull dokcerised version not localy)

TheHive output
[code]

Cortex job error
[code]

[2018-11-05 13:06] Idriel commented on #369
I'll close this as it'll not work.
It'll not work as Cortex is already in docker so "docker run" cannot work. I'll install manalyze inside docker container through Dockerfile.

[2018-11-05 13:06] #369 closed

[2018-11-05 14:36] 3c7 commented on #369
See: https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/ the paragraph "The Solution"

[2018-11-05 14:49] Idriel commented on #369
I'll try it for learning purposes. Thanks.
FYI: I already compile it inside Docker container and it's working fine. :)

[2018-11-06 16:57] michaelschratt commented on #97
Any update available?

[2018-11-09 15:14] phpsystems commented on #350
There is also URLs to consider too.

FYI, the Fortiguard plugin was fixed with #358

[2018-11-10 02:29] ninoseki opened #370 "New Analyzer: SecurityTrails"
### Request Type

Analyzer

### Work Environment

N/A

### Description

[SecurityTrails](https://securitytrails.com/) offers [various APIs](https://securitytrails.com/corp/api).

I think it's possible create Coretex analyzes for WHOIS / Passive DNS / etc. by using SecurityTrails APIs.

[2018-11-11 13:46] onyphe opened #372 "[PATCH] Implement some other ONYPHE simple APIs (but still not the search API)"
# Implement some other ONYPHE simple APIs (but still not the search API)

### Request Type
Feature

### Work Environment
N/A

### Description
Implements user, onionscan, sniffer, ctl and md5 simple APIs. But not the search APIs yet. Unfortunately, as we are not at easy with Python, we just sent the patch for onyphe_api.py and not for onyphe_analyzer.py.
[onyphe-patch.txt](https://github.com/TheHiv

[2018-11-12 15:20] remiallain opened #373 "New analyzer : Cyberprotect ThreatScore"
### Request Type
Feature

### Work Environment
N/A

### Description
Add a new analyzer that request Cyberprotect ThreatScore (a threat scoring system) for domain and ip.
For more information:
https://threatscore.cyberprotect.fr
https://medium.com/@cyberprotect/threatscore-a-cyber-threat-scoring-system-8ae77d54ccce

### Complementary information
None

[2018-11-14 13:10] nadouani opened #375 "Fix URLHaus long template"
### Request Type
Bug

### Description
URLHaus report templates seems to contain characters that break the report template zip import from TheHive

Code line to fix is:

[code]

[2018-11-16 11:43] #375 closed

[2018-11-19 09:22] 3c7 commented on #349
Should be fixed by now (fa8658432d3dbaa0e44a96c397ac7ad6bccf3035). Forgot to close the issue. Thanks for reporting!

[2018-11-19 09:22] #349 closed

[2018-11-19 21:23] arnydo opened #377 "Add option to specify SMTP Port for Mailer Responder"
### Request Type
Feature

### Work Environment
N/A

### Description
Some environments require custom or alternate SMTP ports for sending email. This feature/improvement will add the option to specify a custom SMTP port to the Mailer Responder.

#376 Pull Request submitted

[2018-11-20 21:18] ParanoidRat opened #378 "MISP Analyzer only queries first configured MISP instance"
### Request Type
Bug

### Work Environment
| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Docker Swarm service
| OS version (client)       | N/A
| Cortex Analyzer Name      | MISP
| Cortex Analyzer Version   | 2.0
| Cortex Version            | 2.1.2
| Browser type & version    | N/A

### Description
I have two MISP instances configu

[2018-11-21 13:14] mnmnc opened #379 "Mailer incorrectly informes about missing receipient address in artifacts for Case object"
### Request Type

Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | RedHat, ...
| OS version (client)       | Seven,
| Cortex Analyzer Name      | Mailer
| Browser type & version    | N/A

### Description
Mailer error message suggest missing receipient address in observables even though the code of mailer doe

[2018-11-23 10:03] yesOrMaybeWhatever opened #380 "New Analyzer: Symantec Content Analysis"
### Request Type

 Analyzer

### Description
Add Symantec Content Analysis.

https://support.symantec.com/en_US/article.DOC10634.html

[2018-11-23 10:07] nadouani commented on #380
This analyzer needs to be contributed by the community because, we (core team) don't have access to a Symantec Content Analysis sandbox. If you have it, we can help you write the analyzer, or if someone else have it and can contribute than it's more than welcome

Thanks

[2018-11-23 10:30] yesOrMaybeWhatever commented on #380
@nadouani Yes, we have one in our environment. "we can help you write the analyzer" how does this help look like ?

[2018-11-23 10:34] nadouani commented on #380
An analyzer is a simple Python script usually calling some APIs.

First question: does that product (SCA) expose a HTTP API to submit files for analysis?
We already made that with Joe Sandbox and we can make the same work.

[2018-11-23 10:40] yesOrMaybeWhatever commented on #380
@nadouani please have a look at https://support.symantec.com/en_US/article.DOC10465.html I guess this is what you are asking about :)

[2018-11-27 18:21] arnydo commented on #352
@ninSmith Same issue here. It is not every eml but several .eml's that have the same structure.
I have sent a copy of one to support[@]thehive-project.org if you can take a peak.

[2018-11-27 19:41] arnydo commented on #331
@crackytsi  this is one of those that just makes you want to punch yourself in the nose. I don't know how much time I spent trying to figure out why the output was invalid...it wasnt...just wasnt there because the program never had the permission to run! lol thanks for the tip.

[2018-11-28 12:07] ninSmith commented on #352
I think I've solved the issue, could you try it and confirm me: https://github.com/TheHive-Project/Cortex-Analyzers/tree/hotfix/EmlParser/analyzers/EmlParser

[2018-11-28 14:21] arnydo commented on #352
@ninSmith This worked for me. I tried multiple eml files and they seem to run as expected. It does look like the ones with issues had html in the body...

[2018-11-28 15:09] #352 closed

[2018-11-28 16:16] yesOrMaybeWhatever commented on #380
@nadouani Could you please assist me ? I look forward to your answer. Help is much appreciated!

[2018-11-30 10:40] #190 closed

[2018-11-30 13:32] #370 closed

[2018-11-30 15:07] arnydo opened #382 "Cisco Umbrella Blacklister Responder"
### Request Type
Responder

### Description
Responder will allow the blacklisting of a domain in Cisco Umbrella utilizing the [Enforcement API](https://docs.umbrella.com/enforcement-api/reference).

### Possible Solutions
I'm working on the creation of the responder.

[2018-11-30 15:10] arnydo commented on #382
I am attempting to have the responder available for domain observables. I assume the configuration is the same as an analyzer. Is there something I am missing? The responder is not available when using TheHive.

`"dataType": "domain",`

![image](https://user-images.githubusercontent.com/11653079/49297173-251a2480-f488-11e8-8dee-03c452ebc3ce.png)

[2018-11-30 15:18] nadouani commented on #382
Hello, Responders are not like analyzers and can run against cases, tasks, observables, logs and alerts.

You can find the list at: https://github.com/TheHive-Project/CortexDocs/blob/master/api/how-to-create-a-responder.md#datatypelist

[2018-11-30 16:55] arnydo commented on #382
@nadouani Thank you for clarifying. I missed that page of the docs...

I have it working now.

Ideally, I would like to have the option to add a tag to the artifact showing that it has been blacklisted in Umbrella. Is there any ETA on adding the operation "AddTagToArtifact"? Should I go ahead and create a PR without it or wait until this is available?

[UmbrellaBlacklister](https://github.com/arny

[2018-11-30 19:12] arnydo commented on #377
PR has been merged #376

[2018-11-30 19:12] #377 closed

[2018-11-30 21:09] arnydo commented on #382
Please disregard last comment. Found that "AddTagToArtifact" is available; it just was not listed in the documentation. I created a PR for that change in CortexDocs.

Created PR for this: #383

[2018-12-03 13:21] #373 closed

[2018-12-03 13:38] jeromeleonard opened #384 "msg-extractor library has been updated and brakes FileInfo analyzer"
### Possible Solutions

1. Workaround : force the use of v.0.19 of the library modifying the requirements.txt file like this :
`git+https://github.com/mattgwwalker/msg-extractor.git@v0.19`

2. update FileInfo to work with the new update

[2018-12-04 15:18] nadouani commented on #382
PR accepted

[2018-12-04 15:18] #382 closed

[2018-12-04 19:10] arnydo opened #385 "New Analyzer: Cisco Umbrella Reporting"
### Request Type
Analyzer

### Description
Analyzer will pull latest data from an organization's Umbrella instance via [Reporting API](https://docs.umbrella.com/umbrella-api/docs/overview) and provide:

- Recent Hits (True/False)
- Category
- Last Action (ALLOW/BLOCK)
- ?

### Possible Solutions
I'm working on the creation of the analyzer.

[2018-12-05 13:06] geekscrapy opened #387 "New Analyzer: YarGen"
Generate YARA rules for file dataTypes objects.

This generation can take sometime and it has a few prereqs to run it so maybe a good candidate for a Docker based analyzer.

https://github.com/Neo23x0/yarGen

[2018-12-05 13:19] geekscrapy opened #388 "New Analyzer: ';--have i been pwned?"
Website to check compromised accounts and passwords. API's are freely available without an account.

https://haveibeenpwned.com/

[2018-12-05 13:21] nadouani commented on #388
Marking as duplicate since it has already been planned for 1.15.0 release

[2018-12-05 13:21] #388 closed

[2018-12-05 13:22] nadouani commented on #388
See #190

[2018-12-05 14:30] jeromeleonard opened #389 "Virustotal: update short reports to distinguish Scan from GetReport flavors"
Change the predicate to reflect flavor of the analyzer.

[2018-12-05 15:06] 3c7 commented on #387
Like the idea.

[2018-12-05 15:09] geekscrapy commented on #387
Also, it makes more sense to pass it multiple binaries to make the rules from if a super rule is wanted.

Might be best to zip multiple binaries?

[2018-12-06 09:06] geekscrapy opened #390 "Analyzer report samples/examples"
Any chance report samples could be provided with new (especially non-free) analyzers?

This would assist in creating custom templates for other workflow tools (aka when not using TheHive).

[2018-12-06 09:30] 3c7 commented on #387
Would be possible, I think.

[2018-12-06 12:06] geekscrapy commented on #349
Just updated this analyzer from within the cortex docker container and it now has the following error:

[code]

[2018-12-06 13:01] geekscrapy opened #391 "New Analyzer: NSRL check"
A local query of the NSRL list could provide quick lookups against a local NRSL database: https://www.nist.gov/software-quality-group/nsrl-introduction

[2018-12-06 13:05] geekscrapy commented on #391
A lookup can be performed on hash and filename (case sensitive and not)

[2018-12-06 15:32] 3c7 commented on #349
Please install `whois`. By the way, are you whitelisted for using the service?

[2018-12-10 14:31] nadouani commented on #390
All the analyzers that are accepted have report templates you can find them in `thehive-templates` folder

[2018-12-10 14:31] #390 closed

[2018-12-10 14:38] #345 closed

[2018-12-10 14:41] #318 closed

[2018-12-11 15:46] nadouani commented on #363
This looks like this error might occur because of something else. The analyzer is working for some IP here. can you share the IP address that throws that error, if it's sharable? Thanks

[2018-12-12 13:44] arnydo opened #394 "Improvement: Eml_Parser Analyzer & Template"
### Request Type
Analyzer Improvement

### Work Environment
N/A

### Description
Adjust handling of email headers. Provide cleaner report to display headers within a formatted table rather than one text string.

### Possible Solutions
Change result['headers'] from a list to a dict and display in a table.

### Complementary information
Pull request made #393

[2018-12-12 13:56] #394 closed

[2018-12-12 13:57] nadouani commented on #394
Fixed by PR #393

[2018-12-12 21:04] nadouani commented on #385
PR accepted

[2018-12-12 21:04] #385 closed

[2018-12-14 09:41] #384 closed

[2018-12-14 09:41] #389 closed

[2018-12-17 11:15] Idriel opened #395 "EML_Parser auto extract URL and Attachment as observable"
Hi,

It would be nice that EML_Parser auto extract Attachments and URL's and put it as Observable.

[2018-12-17 12:38] nadouani commented on #372
Hello @onyphe

do you think we need a custom analyzer template for each one of these new methods? or we just need to add an analyzer for user, onionscan, sniffer, ctl and md5, an reuse the existing report templates for TheHive?

Thanks

[2018-12-17 16:22] onyphe commented on #372
Hello,

well, as we are not the original developers of the Cortex Analyzer and we don't have a real experience on how that works internally, it is quite difficult to answer your question. My guess would be to use the same scheme as previously used for other methods, as there is no difference in regards to our APIs.

So, I would say, go for a new analyzer for each new API. Field names are normalize

[2018-12-19 15:44] InsanesTheName opened #396 "New analyzer: Tenable SecurityCenter"
### Request Type
Analyzer

### Description
I'm working on an analyzer to do a vulnerability scan on a host through Tenable SecurityCenter. It's based on the existing Nessus analyzer and uses the new [pyTenable](https://github.com/tenable/pyTenable) library.

[2018-12-20 08:11] auslaender6 commented on #375
Hi Nils,
it is still present in the actual templates download and the import fails.

[2018-12-21 15:04] InsanesTheName commented on #396
See PR #397

[2019-01-03 14:07] mlodic commented on #353
Sorry for coming late, I have just sent a pull request few moments ago #400

[2019-01-04 13:18] Tux-Panik commented on #353
Oh shit... I was working on it :-/

[2019-01-04 13:42] Tux-Panik commented on #353
@mlodic,
I just tested your code and it doesn't work on my side.
I reachthe following "failure" status in Cortex:
[code]
Do it works for you?

Moreover, would it be relevant to play with the "abuseConfidenceScore" filed present in the output to improve the Analyzer's answer?

[2019-01-04 13:44] nadouani commented on #353
@mlodic yes, I think that the logging statements is the reason why the analyzer output is not a valid json.

[2019-01-04 14:51] mlodic commented on #353
I have just pushed a little change to improve error handling cases, tell me if it's better now.

About the "abuseConfidenceScore", I think that it should not change the "summary" result in any way. You risk to miss interesting reports if you set a threshold. Most people who send reports to AbuseIPDB does not move that score at all.
However that is questionable: for this reason, that field is avail

[2019-01-04 15:11] Tux-Panik commented on #353
I'm sorry, I can't see any change.
Latest commit 'e13f956d49f3c45ed28b593156626f2b7492f372' 1 day ago...

Thanks for your feedback,
Regards,
Julien

[2019-01-04 15:30] mlodic commented on #353
I don't know where you get that hash, go thtough this pull request #400

[2019-01-04 16:09] Tux-Panik commented on #353
I directly went to the forked repository:
https://github.com/mlodic/Cortex-Analyzers/tree/master/analyzers/AbuseIPDB

However, using the PR #400 ([here](https://github.com/TheHive-Project/Cortex-Analyzers/blob/816053bfd461f4758fa83cb29346e3a9dbe89b02/analyzers/AbuseIPDB/abuseipdb.py)) I still have the same issue:

[code]

Let me know if you need additinal tests!
Thanks,
Regards,

[2019-01-04 16:23] mgabriel-silva opened #401 "EmlParser_1_1 not parsing .msg files"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Debian
| Cortex Analyzer Name      | EmlParser_1_1
| Cortex Analyzer Version   | 1.1
| Cortex Version            | 2.1.2

### Description
Saved an e-mail from MS Outlook as .msg file
Added to TheHive as an observable
Using EmlParser to analyze